{{ define "title" }}Cars{{ end }}

{{ define "content" }}
    <h1 class="text-center">Cars</h1>

    {{ if WriteAccess }}
        <div class="card mb-3">
            <div class="card-header"><strong>Upload a New Car</strong></div>
            <div class="card-body">
                <p class="card-text">You can upload multiple cars at once by placing them in a folder named "cars" and uploading
                    the whole folder. The upload process will only take the files that the server requires, and so should
                    not take too long. If you have issues uploading large numbers of cars at once please try uploading
                    them in batches instead.</p>

                <p class="card-text">First choose the correct car folder (or containing folder) using the Choose a Folder
                    button below then use the Upload Cars button to upload your cars if the preview information appears
                    correctly.</p>

                <p class="card-text mb-0">The drag and drop input accepts a single car folder, multiple car folders
                    or a cars folder containing multiple cars!</p>

                <form class="d-inline">
                    <div class="mt-3 mb-3">
                        <div class="btn-file btn btn-secondary d-inline-block align-top">
                            Choose a Folder
                            <input id="input-folder-car" name="input-folder-car[]" type="file"
                                   multiple webkitdirectory value="Choose Folder"/>
                        </div>

                        <div id="drop-zone" class="car-drop ml-2 mr-2 drop-zone d-inline-block">Or Drag & Drop Folder(s) Here</div>

                        <div class="float-right">
                            <label for="only-ks" class="mr-2">Only Upload Official KS Content</label>
                            <input type="checkbox" name="only-ks" id="only-ks">
                        </div>

                        <div id="upload-button"></div>
                    </div>

                    <div class="progress" style="display: none;">
                        <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </form>
            </div>
        </div>

        <div id="car-fail"></div>
        <div id="car-info-panel"></div>
    {{ end }}

    <form method="get" action="/cars" class="row mt-4 mb-2">
        <div class="col-8 col-md-10">
            <input name="q" placeholder="Search for cars" class="form-control" value="{{ $.Query }}" autocomplete="off">
        </div>

        <div class="col-4 col-md-2">
            <button type="submit" class="btn btn-success w-100">Search</button>
        </div>
    </form>

    {{ with .Results }}
        {{- /*gotype: github.com/blevesearch/bleve.SearchResult */ -}}

        <div class="text-black-50 mb-2">
            <div class="float-left">
                {{ $pageStart := mul $.CurrentPage $.PageSize }}
                <small>Showing results {{ $pageStart }}-{{ add $pageStart (len .Hits) }} of {{ .Total }}</small>
            </div>

            <div class="float-right">
                <small>Search completed in {{ .Took }} | <a href="#" data-toggle="collapse" data-target="#searchHelp" aria-expanded="false" aria-controls="searchHelp">Search Help</a></small>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="collapse" id="searchHelp">
            <div class="card card-body">
                <h4>Search Help</h4>

                <p>You can type in the search much like you would use Google or any other search field.</p>

                <ul>
                    <li>
                        <strong>Basic Search</strong> -  for example if you wanted to find cars which relate to Ferrari,
                        you can type: <code>ferrari</code>
                    </li>
                    <li>
                        <strong>Boolean Searches</strong> - say you wanted to find Ferrari cars that are not vintage,
                        you could use: <code>+ferrari -vintage</code>.
                    </li>
                    <li>
                        <strong>Searching by Specific Fields</strong> - the entire of the car's details can be searched
                        across. For example, if you want to find cars with a specific tag - say, "italy" - you can use: <code>tags:"italy"</code><br><br>

                        <small>
                            The entire list of car fields is:

                            <code>author</code>,
                            <code>brand</code>,
                            <code>class</code>,
                            <code>country</code>,
                            <code>description</code>,
                            <code>name</code>,
                            <code>url</code>,
                            <code>version</code>,
                            <code>year</code>,
                            <code>notes</code>,
                            <code>spec.acceleration</code>,
                            <code>spec.bhp</code>,
                            <code>spec.pwratio</code>,
                            <code>spec.torque</code>,
                            <code>spec.weight</code>
                        </small>
                    </li>

                    <li>
                        <strong>Searching Numeric Values</strong> - you can search numeric values, for example <code>spec.weight:>600</code> will
                        list all cars with a weight above 600kg.<br><br>

                        <small>
                            All available numeric values are:

                            <code>year</code>,
                            <code>spec.acceleration</code>,
                            <code>spec.bhp</code>,
                            <code>spec.pwratio</code>,
                            <code>spec.torque</code>,
                            <code>spec.weight</code>
                        </small>
                    </li>
                </ul>


                <p>Of course, you can combine all of the above things into one query! That might look like the following:</p>

                <div class="text-center">
                    <code>+ferrari -vintage +tags:"semiautomatic" +spec.bhp:>600</code><br>
                    <em>"must be a ferrari", "must not be vintage", "must have the tag 'semiautomatic'", "must have a BHP greater than 600".</em>
                </div>
                <br>

                <p>Server Manager uses Bleve to provide searching. Bleve is incredibly powerful and offers a great amount of control over search queries. We've covered some examples of how to make the most out of searching here, but please refer to <a href="https://blevesearch.com/docs/Query-String-Query/">Bleve's Documentation</a> for more detailed examples and syntax.</p>
            </div>
        </div>

        {{ range $index, $hit := .Hits }}
            {{ $carID := $hit.ID }}
            {{ $car := index $.Cars $hit.ID }}

            <a class="card mt-2 mb-2 pt-0 pb-0" href="/car/{{ $carID }}">
                <div class="card-body row">
                    <div class="col-12 col-sm-4 col-md-2">
                        <img class="img img-fluid car-image" src="{{ carSkinURL $carID (index $car.Skins 0) }}" alt="">
                    </div>

                    <div class="d-block d-sm-none pt-2">&nbsp;</div>

                    <div class="col-12 col-sm-8 col-md-10">
                        <h3>{{ $car.Details.Name }}</h3>

                        <br>

                        {{ range $index, $tag := $car.Details.Tags }}
                            <span class="badge badge-dark">{{ $tag }}</span>
                        {{ end }}
                    </div>
                </div>
            </a>
        {{ else }}
            <p>Your search returned no results. Please try a different query.</p>
        {{ end }}


        {{ if gt (len .Hits) 0 }}
            {{ template "pagination" dict "CurrentPage" $.CurrentPage "NumPages" $.NumPages "_request" $._request }}
        {{ end }}
    {{ end }}

    <div class="clearfix"></div>
{{ end }}
