{{ define "title" }}Tracks{{ end }}

{{ define "content" }}
    <h1 class="text-center">Tracks</h1>

    {{ if WriteAccess }}
        <div class="card mb-3">
            <div class="card-header"><strong>Upload a New Track</strong></div>
            <div class="card-body">
                <p class="card-text">You can upload multiple tracks at once by placing them in a folder named "tracks" and uploading
                    the whole folder. The upload process will only take the files that the server requires, and so should
                    not take too long.</p>

                <p class="card-text mb-0">First choose the correct track folder (or containing folder) using the Choose a Folder
                    button below then use the Upload Tracks button to upload your tracks if the preview information appears
                    correctly.</p>

                <form class="d-inline">
                    <div class="mt-3 mb-3">
                        <div class="btn-file btn btn-secondary d-inline-block align-top">
                            Choose a Folder
                            <input id="input-folder-track" name="input-folder-track[]" type="file"
                                    multiple webkitdirectory value="Choose Folder" onchange="handleTrackFiles(this.files)"/>
                        </div>

                        <div id="drop-zone" ondrop="handleTrackDropFiles(event);" ondragover="dragOverHandler(event);" ondragleave="dragOutHandler(event);"
                             class="ml-2 mr-2 drop-zone d-inline-block">Or Drag & Drop a Folder Here</div>

                        <div id="upload-button"></div>
                    </div>

                    <div class="progress" style="display: none;">
                        <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </form>
            </div>
        </div>


        <div id="track-info-panel"></div>
    {{ end }}

    {{ $writeAccess := WriteAccess }}

    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Track Name</th>
            <th>Layouts</th>
            {{ if $writeAccess }}
                <th class="text-center">Delete</th>
            {{ end }}
        </tr>
        {{ range $i, $track := .tracks }}
            <tr>
                <td>
                    {{ $i }}
                </td>
                <td>
                    <abbr title="{{ $track.Name }}">{{ prettify $track.Name false }}</abbr>
                </td>
                <td>
                    {{ $track.LayoutsCSV }}
                </td>

                {{ if $writeAccess }}
                    <td class="text-center">
                        <a href="{{ print "/track/delete/" $track.Name }}"><i class="fas fa-trash text-danger"></i></a>
                    </td>
                {{ end }}
            </tr>
        {{ end }}
    </table>

    <div class="clearfix"></div>
{{ end }}
