{{ define "title" }}Tracks{{ end }}

{{ define "content" }}
    <h1 class="text-center">Tracks</h1>

    <div class="card mb-3">
        <div class="card-header"><strong>Upload a New Track</strong></div>
        <div class="card-body">
            <p class="card-text">You can upload multiple tracks at once by placing them in a folder named "tracks" and uploading
                the whole folder. The upload process will only take the files that the server requires, and so should
                not take too long.</p>

            <p class="card-text mb-0">First choose the correct track folder (or containing folder) using the Choose
                Files button below then use the Upload Tracks button to upload your tracks if the preview information appears
                correctly.</p>

            <form class="d-inline">
                <div class="mt-3 mb-3">
                    <div class="btn-file btn btn-secondary">
                        Choose a Folder
                        <input id="input-folder-track" name="input-folder-track[]" type="file"
                                multiple webkitdirectory value="Choose Folder" onchange="handleTrackFiles(this.files)"/>
                    </div>


                    <div id="upload-button"></div>
                </div>
            </form>
        </div>
    </div>


    <div id="track-info-panel"></div>

    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Track Name</th>
            <th>Layouts</th>
            <th class="text-center">Delete</th>
        </tr>
        {{ range $i, $track := .tracks }}
            <tr>
                <td>
                    {{ $i }}
                </td>
                <td>
                    <abbr title="{{ $track.Name }}">{{ prettify $track.Name false }}</abbr>
                </td>
                <td>
                    {{ $track.LayoutsCSV }}
                </td>
                <td class="text-center">
                    <a href="{{ print "/track/delete/" $track.Name }}"><i class="fas fa-trash text-danger"></i></a>
                </td>
            </tr>
        {{ end }}
    </table>

    <div class="clearfix"></div>
{{ end }}
