{{ define "title" }}Weather{{ end }}

{{ define "content" }}
    <h1 class="text-center">Weather</h1>

    {{ if WriteAccess }}
        <div class="card mb-3">
            <div class="card-header"><strong>Upload a New Weather Preset</strong></div>
            <div class="card-body">
                <p class="card-text">You can upload multiple weather presets at once by placing them in a folder named "weather" and uploading
                    the whole folder. The upload process will only take the files that the server requires, and so should
                    not take too long.</p>

                <p class="card-text ">First choose the correct weather folder (or containing folder) using the Choose a Folder
                    button below then use the Upload Weather Preset button to upload your weather presets if the preview information appears
                    correctly.</p>

                <p class="card-text mb-0">The drag and drop input accepts a single weather folder, multiple weather folders
                    or a weather folder containing multiple weathers!</p>

                <form class="d-inline">
                    <div class="mt-3 mb-3">
                        <div class="btn-file btn btn-secondary d-inline-block align-top">
                            Choose a Folder
                            <input id="input-folder-weather" name="input-folder-weather[]" type="file" multiple webkitdirectory value="Choose Folder"/>
                        </div>

                        <div id="drop-zone" class="weather-drop ml-2 mr-2 drop-zone d-inline-block">Or Drag & Drop Folder(s) Here</div>

                        <div id="upload-button"></div>
                    </div>

                    <div class="progress" style="display: none;">
                        <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </form>
            </div>
        </div>


        <div id="weather-info-panel"></div>
    {{ end }}

    {{ $writeAccess := WriteAccess }}

    <table class="table table-bordered table-striped">
        <tr>
            <th>Weather Key</th>
            <th>Weather Name</th>

            {{ if DeleteAccess }}
                <th class="text-center">Delete</th>
            {{ end }}
        </tr>
        {{ range $i, $weather := .Weathers }}
            <tr>
                <td>
                    {{ $i }}
                </td>
                <td>
                    {{ $weather }}
                </td>

                {{ if DeleteAccess }}
                    <td class="text-center">
                        <a href="{{ print "/weather/delete/" $i }}"><i class="fas fa-trash fa text-danger"></i></a>
                    </td>
                {{ end }}
            </tr>
        {{ end }}
    </table>

    <div class="clearfix"></div>
{{ end }}
