# steam username and password. we recommend creating a separate account with
# steamguard disabled to use this application.
# server-manager uses this information ONLY to install the assetto corsa server.
export STEAM_USERNAME=steamuser
export STEAM_PASSWORD=hunter2

# the address that server manager should run its web server on.
export SERVER_ADDRESS=localhost:8772

# a key to be used to encrypt session values. we recommend randomly generating this!
export SESSION_KEY=secretvalue

# where to store the server manager database file.
# this contains all of your race setups, so keep it safe!
export STORE_LOCATION=server_manager.db
