body {
    padding-top: 100px;
    font-size: 1rem !important;
    overflow-y: scroll;
}

.navbar-brand {
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

@media screen and (min-width: 400px) {
    a.card {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

a.card h2 {
    color: black;
}


a.card:hover {
    text-decoration: none;
}

footer {
    margin-top: 20px;
}

.ms-container {
    width: 100% !important;
}

.button-bar {
    position: absolute;
    bottom: 0;
    width: 100%
}

.nav-tabs .nav-link {
    color: #495057;
}

abbr[title] {
    text-decoration: none !important;
}

.card-logs {
    max-height: 600px;
}

span[data-toggle=tooltip] {
    cursor: default;
}

.driver-link:hover, .row-link:hover {
    cursor: pointer;
    color: #158CBA;
}

.championship .driver-link:hover, .championship .row-link:hover {
    cursor: initial;
    color: initial;
}

.badge-best {
    color: #fff;
    background-color: rgba(99, 24, 165, 0.86);
}

.home-race-info {
    min-height: 200px;
}


@media screen and (max-width: 768px) {
    .home-race-info .race-info {
        min-height: 200px;
    }

    .home-race-info .button-bar {
        position: relative;
        width: auto;
        margin-bottom: 10px;
    }

    .home-race-info .float-right {
        float: unset !important;
    }

    .home-race-info .btn {
        width: 100%;
    }

    #trackImage {
        padding-left: 0 !important;
        width: 100%;
    }
}

#trackImage {
    border-radius: 0.25rem;
    width: 100%;
    max-width: 355px;
}

#weatherImage {
    border-radius: 0.25rem;
    width: 100%;
    max-width: 355px;
}

.car-image {
    border-radius: 0.25rem;
}

.entryListCarPreview {
	border-radius: 0.25rem;
}

.home-race-info .race-info, .home-race-info .race-info small {
    font-size: 1.1em;
}


.nav-tabs .nav-link:not(.disabled):hover, .nav-tabs .nav-link:not(.disabled):focus, .nav-tabs .nav-link.active {
    padding-bottom: calc(0.5em + 7px) !important;
}

.search-input {
    margin-bottom: 5px;
}

.race-setup .pit-boxes {
    padding-top: calc(0.375rem + 1px);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.messages {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    z-index: 1;
    bottom: 0;
}

#entrantTemplate {
    display: none;
}

.image-track {
    max-height: 200px;
    border-radius: 0.25rem !important;
}

.drop-zone {
    background: #f0f0f0;
    width: 210px;
    height: 33px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;

    background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%),
    linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: 0px 0px, 208px 31px, 0px 31px, 208px 0px;
}

.drop-zone-hovered {
    background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%),
    linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: 0px 0px, 208px 31px, 0px 31px, 208px 0px;
    animation: border-dance 4s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: 0px 0px, 208px 31px, 0px 104px, 208px 0px;
    }
    100% {
        background-position: 208px 0px, 0px 31px, 0px 0px, 208px 104px;
    }
}

.results {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

a.detailed-results:hover {
    text-decoration: none;
}

.numEntrantsToAdd {
    display: inline-block !important;
    max-width: 80px;
    position: relative;
    top: 1px;
}

.live-badge {
    display: block !important;
    width: fit-content;
    margin-top: 4px;
}

.live-events {
    width: 220px;
}

.d-contents {
    display: contents;
}

.custom-race-actions .btn:not(.dropdown-toggle-split) {
    width: 48%;
    min-width: 115px;
}

.custom-race-actions .btn {
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.custom-race-actions-btn-group {
    width: 48%;
    min-width: 115px;
}

.custom-race-actions-btn-big {
    width: 80% !important;
    min-width: 0 !important;
}

.custom-race-actions-btn-small {
    width: 20% !important;
    min-width: 0 !important;
}

.table-custom-race tr td:nth-child(1) {
    text-align: center;
}

.table-custom-race tr td:nth-child(2) {
    max-width: 250px;
}

.table-custom-race tr td:nth-child(3) {
    width: 30px;
}

.table-custom-race tr td:last-child {
    max-width: 160px;
    text-align: center;
}

.table-championship tr td:last-child {
    max-width: 270px;
    text-align: center;
}

.img-footer {
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: -10px;
}

footer {
    padding-bottom: 20px;
}

footer a {
    display: inline-block;
}

@media screen and (max-width: 550px) {
    .img-footer {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer .col-sm-4 {
        text-align: center !important;
    }
}

#road-temp-wrapper {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    cursor: default;
}

#road-temp {
    width: 100%;
    height: 100%;
}

#road-temp-text {
    display: block;
    position: absolute;
    margin: 7px;
    margin-top: 15px;
    font-weight: bold;
    color: white;
}

#ambient-temp-wrapper {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    cursor: default;
}

#ambient-temp {
    width: 100%;
    height: 100%;
}

#ambient-temp-text {
    display: block;
    position: absolute;
    margin: 13px;
    margin-left: 10px;
    font-size: 80%;
    font-weight: bold;
    color: white;
}

#map {
    position: relative;
    border-radius: 0.25rem;
}

#map.rotated {
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
}

#map.rotated .dot, #map.rotated .collision {
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: top left;
}

#map .img {
    -webkit-filter: drop-shadow(0 0 2px #000);
    filter: drop-shadow(0 0 2px #000);
}

.dot {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 10px;
    height: 10px;
    content: " ";
    z-index: 100;
    display: inline-grid;
}

.dot .name {
    position: relative;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    border-radius: 4px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 75%;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
}

.dot .info {
    position: relative;
    top: 12px;
    left: 10px;
    min-width: 80px;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    border-radius: 4px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 80%;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
}

.popover {
    max-width: 278px !important;
}

.driver {
    display: block;
}

td .dot {
    position: relative;
    transform: none;
    display: inline-block;
    margin-right: 10px;
}

td .dot-inactive {
    position: relative;
    transform: none;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid black;
}

.rpm-outer {
    width: 100%;
    height: 8px;
    margin-bottom: 4px;
    border-radius: 10px;
    background: lightgrey;
}

.rpm-inner {
    border-radius: 10px;
    height: 8px;
}

.collision {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-image: url("/static/img/splosion.gif");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
    display: inline-grid;
    -webkit-animation: cssAnimation 3s forwards;
    animation: cssAnimation 3s forwards;
}

@keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.custom-file input {
    cursor: pointer !important;
}

.custom-file-label {
    height: calc(2.0625rem + 5px) !important;
}

.custom-file-label:after {
    height: 2.225rem !important;
}

.entrant-car {
    width: 18rem;
    display: inline-block;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.entrant-car:first-child {
    padding-left: 0 !important;
}
.entrant-car:last-child {
    padding-right: 0 !important;
}

.fa-stack-override {
    display: inline-block;
    height: 0.7em;
    position: relative;
    width: 1.4em;
}

.text-area {
    min-height: 200px;
}

.points-transfer {
    margin-top: 10px;
    font-size: 0.765625rem;
    line-height: 1.5;

    display: none;
}

.points-transfer label {
    padding-top: 6px;
}

.points-transfer .bootstrap-switch {
    float: right;
}

.championship-signup-question {
    margin-bottom: 5px;
}

.popover-signup-answers {
    font-size: 0.9rem;
    max-height: 500px;
    overflow-y: auto;
}

.car-skin {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.car-skin:nth-child(1) {
    margin-top: 0;
}

.car-skins-other {
    max-height: 518px;
    overflow-y: auto;
}