body {
    padding-top: 60px;
    font-size: 1rem !important;
}

@media screen and (min-width: 400px) {
    a.card {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

a.card h2 {
    color: black;
}


a.card:hover {
    text-decoration: none;
}

footer {
    margin-top: 20px;
}

.ms-container {
    width: 100% !important;
}

.button-bar {
    position: absolute;
    bottom: 0;
    width: 100%
}

.nav-tabs .nav-link {
    color: #495057;
}

abbr[title] {
    text-decoration: none !important;
}

.card-logs {
    max-height: 600px;
}

span[data-toggle=tooltip] { cursor: default; }

.driver-link:hover, .row-link:hover {
    cursor: pointer;
    color: #158CBA;
}

.championship .driver-link:hover, .championship .row-link:hover {
    cursor: initial;
    color: initial;
}

.badge-best {
    color: #fff;
    background-color: rgba(99, 24, 165, 0.86);
}

.home-race-info {
    min-height: 200px;
}


@media screen and (max-width: 768px) {
    .home-race-info .race-info {
        min-height: 200px;
    }

    .home-race-info .button-bar {
        position: relative;
        width: auto;
        margin-bottom: 10px;
    }
    .home-race-info .float-right {
        float: unset !important;
    }

    .home-race-info .btn {
        width: 100%;
    }

    #trackImage {
        padding-left: 0 !important;
        width: 100%;
    }
}

.home-race-info .race-info, .home-race-info .race-info small {
    font-size: 1.1em;
}


.nav-tabs .nav-link:not(.disabled):hover, .nav-tabs .nav-link:not(.disabled):focus, .nav-tabs .nav-link.active {
    padding-bottom: calc(0.5em + 7px) !important;
}

.search-input {
    margin-bottom: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.messages {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    z-index: 1;
    bottom: 0;
}

#entrantTemplate {
    display: none;
}

.image-track {
    max-height: 200px;
}

.drop-zone {
    background: #f0f0f0;
    width: 210px;
    height: 33px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;

    background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%),
    linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: 0px 0px, 208px 31px, 0px 31px, 208px 0px;
}

.drop-zone-hovered {
    background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%),
    linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: 0px 0px, 208px 31px, 0px 31px, 208px 0px;
    animation: border-dance 4s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: 0px 0px, 208px 31px, 0px 104px, 208px 0px;
    }
    100% {
        background-position: 208px 0px, 0px 31px, 0px 0px, 208px 104px;
    }
}

a.detailed-results:hover {
    text-decoration: none;
}

.numEntrantsToAdd {
    display: inline-block !important;
    max-width: 80px;
    position: relative;
    top: 1px;
}

.live-badge {
    display: block !important;
    width: fit-content;
    margin-top: 4px;
}

.live-events {
    width: 280px;
}

.custom-race-actions .btn {
    margin-bottom: 0.5em;
    width: 48%;
    margin-left: 0;
    margin-right: 0;
    min-width: 115px;
}

.table-custom-race tr td:nth-child(1) {
    text-align: center;
}
.table-custom-race tr td:nth-child(2) {
    max-width: 250px;
}
.table-custom-race tr td:nth-child(3) {
    width: 30px;
}

.table-custom-race tr td:last-child {
    max-width: 110px;
    text-align: center;
}
