body {
    padding-top: 60px;
}

.navbar {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

a.card {
    padding-top: 40px;
    padding-bottom: 40px;
}

a.card h2 {
    color: black;
}


a.card:hover {
    text-decoration: none;
}

footer {
    margin-top: 20px;
}

.ms-container {
    width: 100% !important;
}

.button-bar {
    position: absolute;
    bottom: 0;
    width: 100%
}

.nav-tabs .nav-link {
    color: #495057;
}

.row-link:hover {
    cursor: pointer;
    color: #E95420;
}

.driver-link:hover {
    cursor: pointer;
    color: #E95420;
}

span[data-toggle=tooltip] { cursor: default; }