{{ define "base" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{{ block "title" . }}{{ end }} / Assetto Server Manager</title>

        {{ block "stylesheets" . }}
            <link rel="stylesheet" type="text/css"
                  href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/united/bootstrap.min.css">
        {{ end }}
    </head>
    <body>

    {{ range $i, $message := .messages }}

        <div class="alert alert-primary" role="alert">
            {{ $message }}
        </div>

    {{ end }}

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Assetto Server Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-a">
                    <li class="nav-item">
                        <a class="nav-link" href="/race-options">Race Options</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/server-options">Global Server Options</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br><br>

        {{ block "content" . }}{{ end }}

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div>
                &copy; Just a Penguin 2010-2019
            </div>
        </footer>
    </div>

    {{ block "javascript" . }}
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    {{ end }}

    {{ block "thirdpartyjs" . }}
    {{ end }}
    </body>
    </html>
{{ end }}
