{{ define "base" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{ with $.OGImage }}<meta property="og:image" content="{{ $.OGImage }}">{{ end }}

        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta charset="UTF-8">
        <title>{{ block "title" . }}{{ end }} / {{ $.ServerName }}</title>

        {{ block "stylesheets" . }}
            {{ if $.User.ShowDarkTheme $.IsDarkTheme }}
                <link rel="stylesheet" type="text/css" href="{{ asset "/static/css/server-manager-dark.css" }}">
            {{ else }}
                <link rel="stylesheet" type="text/css" href="{{ asset "/static/css/server-manager.css" }}">
            {{ end }}

            <style type="text/css">
                {{ .CustomCSS }}
            </style>
        {{ end }}

        {{ block "extracss" . }}

        {{ end }}

        <script type="text/javascript">
            var ShowUpgradePopup = {{ not .User.HasSeenCurrentVersion }};
        </script>

        {{ if $.MonitoringEnabled }}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85378001-6"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-85378001-6');
            </script>
            <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
            <script>
                Raven.config({{ $.SentryDSN }}).install();
            </script>
        {{ end }}
    </head>
    <body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="{{ with $.WideContainer }}container-fluid{{ else }}container{{ end }}">
            <a class="navbar-brand d-none d-sm-block" href="/" data-toggle="tooltip" title="{{ $.ServerName }}">{{ $.ServerName }}</a>
            <a class="navbar-brand d-sm-none" href="/">{{ $.ServerName }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Races
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{ if WriteAccess }}
                                <a class="dropdown-item" href="/quick">Quick</a>
                                <div class="dropdown-divider"></div>
                                <h4 class="dropdown-header font-italic">Custom</h4>
                                <a class="dropdown-item pl-4-5" href="/custom">View Existing</a>
                                <a class="dropdown-item pl-4-5" href="/custom/new">Create New</a>

                                <div class="dropdown-divider"></div>
                            {{ end }}


                            <h4 class="dropdown-header font-italic">Race Weekends</h4>
                            <a class="dropdown-item pl-4-5" href="/race-weekends">View Existing</a>
                            {{ if WriteAccess }}
                                <a class="dropdown-item pl-4-5" href="/race-weekends/new">Create New</a>
                            {{ end }}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/results">Results</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navBarContentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Content
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navBarContentDropdown">
                            <a class="dropdown-item" href="/tracks">Tracks</a>
                            <a class="dropdown-item" href="/cars">Cars &amp; Setups</a>
                            <a class="dropdown-item" href="/weather">Weather</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navBarChampionshipsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Championships
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navBarChampionshipsDropdown">
                            <a class="dropdown-item" href="/championships">View Existing</a>

                            {{ if WriteAccess }}
                                <a class="dropdown-item" href="/championships/new">Create New</a>
                            {{ end }}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/calendar">Calendar</a>
                    </li>


                    {{ if WriteAccess }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navBarServerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Server
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navBarServerDropdown">
                                {{ if AdminAccess }}
                                    <a class="dropdown-item" href="/server-options">Options</a>
                                    <a class="dropdown-item" href="/accounts">Accounts</a>
                                    <a class="dropdown-item" href="/blacklist">Blacklist</a>
                                    <a class="dropdown-item" href="/motd">Messages</a>
                                    <a class="dropdown-item" href="/audit-logs">Audit Logs</a>
                                    <a class="dropdown-item" href="/stracker/options">STracker</a>
                                    <a class="dropdown-item" href="/kissmyrank/options">KissMyRank</a>
                                {{ end }}
                                {{ if DeleteAccess }}
                                    <a class="dropdown-item" href="/autofill-entrants">AutoFill Entrants</a>
                                {{ end }}

                                <a class="dropdown-item" href="/logs">Logs</a>
                            </div>
                        </li>
                    {{ end }}
                </ul>

                <ul class="navbar-nav">
                    {{ if .ServerStatus  }}
                        <li class="nav-item dropdown mr-2 {{ if not WriteAccess }} mt-2 {{ end }}">
                            {{ if WriteAccess }}
                                <a class="nav-link dropdown-toggle" href="#" id="navBarStatusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ if .ServerEvent.IsChampionship }}
                                        <span class="badge badge-warning">Championship {{ if .ServerEvent.IsPractice }}Practice{{ end }} in Progress</span>
                                    {{ else if .ServerEvent.IsRaceWeekend }}
                                        <span class="badge badge-info">Race Weekend {{ if .ServerEvent.IsPractice }}Practice{{ end }} in Progress</span>
                                    {{ else }}
                                        <span class="badge badge-success">Assetto Server Running</span>
                                    {{ end }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navBarStatusDropdown">
                                    <a
                                        class="dropdown-item"
                                        href="/process/restart"

                                        {{ if not $.ServerEvent.IsPractice }}
                                            {{ if $.ServerEvent.IsChampionship }}
                                                onClick="return confirm('I understand that this will cancel the current championship event and all progress will be permanently lost');"
                                            {{ else if $.ServerEvent.IsRaceWeekend }}
                                                onClick="return confirm('I understand that this will cancel the current race weekend session and all progress will be permanently lost');"
                                            {{ end }}
                                        {{ end }}
                                    >
                                        Restart
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        href="/process/stop"

                                        {{ if not $.ServerEvent.IsPractice }}
                                            {{ if $.ServerEvent.IsChampionship }}
                                                onClick="return confirm('I understand that this will cancel the current championship event and all progress will be permanently lost');"
                                            {{ else if $.ServerEvent.IsRaceWeekend }}
                                                onClick="return confirm('I understand that this will cancel the current race weekend session and all progress will be permanently lost');"
                                            {{ end }}
                                        {{ end }}
                                    >
                                        Stop
                                    </a>
                                </div>
                            {{ else }}
                                {{ if .ServerEvent.IsChampionship }}
                                    <span class="badge badge-warning">Championship {{ if .ServerEvent.IsPractice }}Practice{{ end }} in Progress</span>
                                {{ else if .ServerEvent.IsRaceWeekend }}
                                    <span class="badge badge-info">Race Weekend {{ if .ServerEvent.IsPractice }}Practice{{ end }} in Progress</span>
                                {{ else }}
                                    <span class="badge badge-success">Assetto Server Running</span>
                                {{ end }}
                            {{ end }}
                        </li>
                    {{ else }}
                        <li class="nav-item mr-2 mt-2">
                            <span class="badge badge-danger">Assetto Server Offline</span>
                        </li>
                    {{ end }}

                    <li class="nav-item dropdown" id="user-account-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navBarAccountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navBarAccountDropdown">
                            {{ if not LoggedIn }}
                                <a class="dropdown-item" href="/login">Login</a>
                            {{ else }}
                                <h6 class="dropdown-header">Logged in as {{ .User.Name }} ({{ .User.Group }})</h6>
                                <a class="dropdown-item" href="/accounts/update">Update Details</a>
                                <a class="dropdown-item" href="/accounts/new-password">Update Password</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            {{ end }}
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </nav>

    <div class="{{ with $.WideContainer }}container-fluid{{ else }}container{{ end }}">

        {{ if WriteAccess }}
            {{ if and $.ACSREnabled (or (not $.BaseURLIsSet) (not $.BaseURLIsValid)) }}
                <div class="card border-danger mb-5">
                    <div class="card-header bg-danger text-white">
                        ACSR Configuration Issue
                    </div>

                    <div class="card-body">
                        <p>
                            You have enabled ACSR in the Server Options, but your server config.yml does not have
                            {{ if not $.BaseURLIsSet }}a BaseURL set{{ else if not $.BaseURLIsValid}}a valid BaseURL{{ end }}.
                            <strong>Server Manager will not be able to connect to ACSR.</strong>
                            Please ensure that Server Manager is accessible from the web and that you set the BaseURL parameter to
                            a valid web address.
                        </p>

                        <p>
                            <a href="https://github.com/JustaPenguin/assetto-server-manager/wiki/ACSR-Configuration">
                                View a more detailed configuration guide for ACSR
                            </a>
                        </p>
                    </div>
                </div>
            {{ end }}
        {{ end }}

        {{ block "content" . }}{{ end }}


        {{ block "showpremium" . }}
            {{ if and (ne $.Request.URL.Path "/") (ne $.Request.URL.Path "/premium") }}
                <div class="clearfix"></div>

                <div class="mt-5">
                    {{ template "premium" dict "IsPremium" $.IsPremium }}
                </div>
            {{ end }}
        {{ end }}

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-sm-7">
                    <a href="https://github.com/JustaPenguin/assetto-server-manager" class="mr-3"><i class="fab fa-github"></i> GitHub</a>
                    <a href="https://github.com/JustaPenguin/assetto-server-manager/issues" class="mr-3"><i class="fas fa-bug"></i> Submit a Bug Report</a>
                    {{ if not $.IsPremium }}
                        <a href="/premium" class="mr-3"><i class="fas fa-heart"></i> Go Premium</a>
                    {{ else }}
                        <a href="https://paypal.me/JustaPenguinUK" class="mr-3"><i class="fas fa-heart"></i> Donate</a>
                    {{ end }}
                    <a href="/changelog" class="mr-3"><i class="fas fa-pencil-alt"></i> Changelog</a>
                    <a href="https://github.com/JustaPenguin/assetto-server-manager/wiki"><i class="fas fa-book"></i> Wiki</a>
                </div>
                <div class="col-sm-5 text-right">
                    <img src="/static/img/racer.png" class="img img-footer float-right">
                    Assetto Corsa Server Manager {{ if $.IsPremium }}Premium {{ end }}{{ Version }}<br> &copy; <a href="https://justapengu.in">Just a Penguin</a> 2010-{{ now.Format "2006" }}
                </div>
            </div>

        </footer>
    </div>

    <div class="messages">
        <div class="container">
            <div class="col-md-10 mx-auto">
                {{ range $i, $message := .Messages }}

                    <div class="alert alert-success alert-dismissible" role="alert">
                        {{ $message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {{ end }}

                {{ range $i, $error := .Errors }}

                    <div class="alert alert-danger alert-dismissible mx-auto" role="alert">
                        {{ $error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {{ end }}
            </div>
        </div>
    </div>

    {{ if not $.User.HasSeenCurrentVersion }}
        <div class="modal" tabindex="-1" role="dialog" id="changelog-modal">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Server Manager was upgraded to {{ Version }}!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Welcome to this new version of Server Manager! We update Server Manager regularly with cool
                            new features and bug fixes! Please read below to find out the changes in the new release.
                        </p>

                        <div id="changelog-text">
                            {{ ChangelogHTML }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}

    {{ block "javascript" . }}
        <script src="{{ asset "/static/js/bundle.js" }}"></script>
    {{ end }}

    {{ block "thirdpartyjs" . }}
    {{ end }}
    </body>
    </html>
{{ end }}
