{{ define "base" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta charset="UTF-8">
        <title>{{ block "title" . }}{{ end }} / {{ $.server_name }}</title>

        {{ block "stylesheets" . }}
            <link rel="stylesheet" type="text/css" href="{{ asset "/static/css/style.css" }}">
            <link rel="stylesheet" type="text/css" href="{{ asset "/static/css/multi-select.dist.css" }}">
            <link rel="stylesheet" type="text/css" href="{{ asset "/static/css/bootstrap-switch.min.css" }}">
            <link rel="stylesheet" type="text/css" href="{{ asset "/static/css/jquery-ui.min.css" }}">
            <link rel="stylesheet" type="text/css" href="{{ asset "/static/css/bootstrap.min.css" }}">
            <link rel="stylesheet" type="text/css" href="{{ asset "/static/css/summernote-bs4.css" }}">

            <style type="text/css">
                {{ .custom_css }}
            </style>
        {{ end }}

        {{ block "extracss" . }}

        {{ end }}

        {{ if $.MonitoringEnabled }}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85378001-6"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-85378001-6');
            </script>
            <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
            <script>
                Raven.config({{ $.SentryDSN }}).install();
            </script>
        {{ end }}
    </head>
    <body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/" data-toggle="tooltip" title="{{ $.server_name }}">{{ $.server_name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{ if WriteAccess }}
                        <li class="nav-item">
                            <a class="nav-link" href="/quick">Quick Race</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Custom Races
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/custom">View Existing</a>
                                <a class="dropdown-item" href="/custom/new">Create New</a>
                            </div>
                        </li>

                    {{ end }}

                    <li class="nav-item">
                        <a class="nav-link" href="/results">Results</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navBarContentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Content
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navBarContentDropdown">
                            <a class="dropdown-item" href="/tracks">Tracks</a>
                            <a class="dropdown-item" href="/cars">Cars &amp; Setups</a>
                            <a class="dropdown-item" href="/weather">Weather</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navBarChampionshipsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Championships
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navBarChampionshipsDropdown">
                            <a class="dropdown-item" href="/championships">View Existing</a>

                            {{ if WriteAccess }}
                                <a class="dropdown-item" href="/championships/new">Create New</a>
                            {{ end }}
                        </div>
                    </li>


                    {{ if WriteAccess }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navBarServerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Server
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navBarServerDropdown">
                                {{ if AdminAccess }}
                                    <a class="dropdown-item" href="/server-options">Options</a>
                                    <a class="dropdown-item" href="/accounts">Accounts</a>
                                    <a class="dropdown-item" href="/blacklist">Blacklist</a>
                                    <a class="dropdown-item" href="/motd">MOTD</a>
                                    <a class="dropdown-item" href="/audit-logs">Audit Logs</a>
                                {{ end }}
                                {{ if DeleteAccess }}
                                    <a class="dropdown-item" href="/autofill-entrants">AutoFill Entrants</a>
                                {{ end }}

                                <a class="dropdown-item" href="/logs">Logs</a>
                            </div>
                        </li>
                    {{ end }}
                </ul>

                <ul class="navbar-nav">
                    {{ if .server_status  }}
                        <li class="nav-item dropdown mr-2 {{ if not WriteAccess }} mt-2 {{ end }}">
                            {{ if WriteAccess }}
                                {{ if eq .server_event_type "CHAMPIONSHIP" }}
                                    <a class="nav-link dropdown-toggle" href="#" id="navBarStatusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="badge badge-warning">Championship in Progress</span>
                                    </a>
                                {{ else }}
                                    <a class="nav-link dropdown-toggle" href="#" id="navBarStatusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="badge badge-success">Assetto Server Running</span>
                                    </a>
                                {{ end }}

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navBarStatusDropdown">
                                    <a
                                        class="dropdown-item"
                                        href="/process/restart"

                                        {{ if eq .server_event_type "CHAMPIONSHIP" }}
                                            onClick="return confirm('I understand that this will cancel the current championship event and all progress will be permanently lost');"
                                        {{ end }}
                                    >
                                        Restart
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        href="/process/stop"

                                        {{ if eq .server_event_type "CHAMPIONSHIP" }}
                                            onClick="return confirm('I understand that this will cancel the current championship event and all progress will be permanently lost');"
                                        {{ end }}
                                    >
                                        Stop
                                    </a>
                                </div>
                            {{ else }}
                                {{ if eq .server_event_type "CHAMPIONSHIP" }}
                                    <span class="badge badge-warning">Championship in Progress</span>
                                {{ else }}
                                    <span class="badge badge-success">Assetto Server Running</span>
                                {{ end }}
                            {{ end }}
                        </li>
                    {{ else }}
                        <li class="nav-item mr-2 mt-2">
                            <span class="badge badge-danger">Assetto Server Offline</span>
                        </li>
                    {{ end }}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navBarAccountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navBarAccountDropdown">
                            {{ if not LoggedIn }}
                                <a class="dropdown-item" href="/login">Login</a>
                            {{ else }}
                                <h6 class="dropdown-header">Logged in as {{ .User.Name }} ({{ .User.Group }})</h6>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            {{ end }}
                        </div>
                    </li>

                </ul>
            </div>


        </div>
    </nav>

    <div class="container">
        {{ block "content" . }}{{ end }}


        {{ block "showpremium" . }}
            {{ if ne $._request.URL.Path "/" }}
                <div class="clearfix"></div>

                <div class="mt-5">
                    {{ template "premium" dict "IsPremium" $.IsPremium }}
                </div>
            {{ end }}
        {{ end }}

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-sm-7">
                    <a href="https://github.com/cj123/assetto-server-manager" class="mr-3"><i class="fab fa-github"></i> GitHub</a>
                    <a href="https://github.com/cj123/assetto-server-manager/issues" class="mr-3"><i class="fas fa-bug"></i> Submit a Bug Report</a>
                    <a href="https://paypal.me/JustaPenguinUK" class="mr-3"><i class="fas fa-heart"></i> Donate</a>
                    <a href="/events.ics" class="mr-3" data-toggle="tooltip" title="Subscribe to a calendar feed for all Scheduled Events!">
                        <i class="fas fa-calendar"></i> Scheduled Events
                    </a>
                    <a href="https://github.com/cj123/assetto-server-manager/wiki"><i class="fas fa-book"></i> Wiki</a>
                </div>
                <div class="col-sm-5 text-right">
                    <img src="/static/img/racer.png" class="img img-footer float-right">
                    Assetto Corsa Server Manager {{ Version }}<br> &copy; <a href="https://justapengu.in">Just a Penguin</a> 2010-{{ now.Format "2006" }}
                </div>
            </div>

        </footer>
    </div>

    <div class="messages">
        <div class="container">
            <div class="col-md-10 mx-auto">
                {{ range $i, $message := .messages }}

                    <div class="alert alert-success alert-dismissible" role="alert">
                        {{ $message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {{ end }}

                {{ range $i, $error := .errors }}

                    <div class="alert alert-danger alert-dismissible mx-auto" role="alert">
                        {{ $error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {{ end }}
            </div>
        </div>
    </div>

    {{ block "javascript" . }}
        <script defer src="{{ asset "/static/js/font-awesome.js" }}"></script>
        <script src="{{ asset "/static/js/jquery-3.3.1.min.js" }}"></script>
        <script src="{{ asset "/static/js/jquery-ui.min.js" }}"></script>
        <script src="{{ asset "/static/js/moment.js" }}"></script>
        <script src="{{ asset "/static/js/moment-timezone-with-data.min.js" }}"></script>
        <script src="{{ asset "/static/js/jquery.quicksearch.js" }}"></script>
        <script src="{{ asset "/static/js/jquery.multi-select.js" }}"></script>
        <script src="{{ asset "/static/js/randomColor.min.js" }}"></script>
        <script src="{{ asset "/static/js/bootstrap-switch.min.js" }}"></script>
        <script src="{{ asset "/static/js/popper.min.js" }}"></script>
        <script src="{{ asset "/static/js/bootstrap.bundle.min.js" }}"></script>
        <script src="{{ asset "/static/js/summernote-bs4.min.js" }}"></script>
        <script src="{{ asset "/static/manager.js" }}"></script>
    {{ end }}

    {{ block "thirdpartyjs" . }}
    {{ end }}
    </body>
    </html>
{{ end }}
