language: go
go:
  - 1.15

services:
  - docker

addons:
  apt:
    packages:
      - dos2unix

before_install:
  - nvm install 12
  - nvm use 12
  - make install-linter

install:
  - node -v
  - git --version
  - go version

script:
  - make generate
  - make vet
  # run a go build before doing deployment to ensure that the package is importable
  - go build

  - VERSION=${TRAVIS_TAG} make deploy

deploy:
  - provider: releases
    api_key: $OAUTH_TOKEN
    file:
      - cmd/server-manager/server-manager_$TRAVIS_TAG.zip
    skip_cleanup: true
    on:
      tags: true

  - provider: script
    script: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD && VERSION=${TRAVIS_TAG} make docker
    skip_cleanup: true
    on:
      tags: true
