{{ define "partial" }}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure {{ $.ChildSession.Name }} Entry List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    You can modify the EntryList for {{ $.ChildSession.Name }} by changing the filter settings below.


                    {{ if not $.ParentSession.Completed }}
                        The {{ $.ParentSession.Name }} has not yet been completed. A fake grid will be shown to allow you to see how
                        the filters below will be applied when this session is completed.
                    {{ end }}
                </p>

                <div class="row">
                    <div class="col-md-6">

                        <form>
                            <div class="card border-warning">
                                <div class="card-body">
                                    <p>Take the drivers from the <strong>{{ $.ParentSession.Name }}</strong> Results between:</p>

                                    <div class="form-group row">
                                        <label for="ResultsStart" class="col-sm-6 col-form-label">Start</label>

                                        <div class="col-sm-6">
                                            <input
                                                    {{ if WriteAccess }}
                                                        type="number"
                                                    {{ else }}
                                                        type="hidden"
                                                    {{ end }}
                                                    id="ResultsStart"
                                                    name="ResultsStart"
                                                    class="form-control"
                                                    value="{{ $.Filter.ResultStart }}"
                                                    step="1"
                                                    min="1"
                                            >

                                            {{ if not WriteAccess }}
                                                <label class="col-form-label">{{ $.Filter.ResultStart }}</label>
                                            {{ end }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ResultsEnd" class="col-sm-6 col-form-label">End</label>

                                        <div class="col-sm-6">
                                            <input
                                                    {{ if WriteAccess }}
                                                        type="number"
                                                    {{ else }}
                                                        type="hidden"
                                                    {{ end }}
                                                    id="ResultsEnd"
                                                    name="ResultsEnd"
                                                    class="form-control"
                                                    value="{{ $.Filter.ResultEnd }}"
                                                    step="1"
                                                    min="1"
                                            >

                                            {{ if not WriteAccess }}
                                                <label class="col-form-label">{{ $.Filter.ResultEnd }}</label>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-2 mb-2">
                                <i class="fa fa-arrow-down"></i>
                            </div>

                            <div class="card border-primary">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="ReverseGrid" class="col-sm-6 col-form-label">Reverse the order of the results?</label>

                                        <div class="col-sm-6">
                                            <input
                                                    {{ if WriteAccess }}
                                                        type="checkbox"
                                                    {{ else }}
                                                        type="hidden"
                                                    {{ end }}
                                                    id="ReverseGrid"
                                                    name="ReverseGrid"
                                                    {{ if $.Filter.ReverseEntrants }}
                                                        checked="checked"
                                                    {{ end }}
                                            >

                                            {{ if not WriteAccess }}
                                                <label class="col-form-label">
                                                    {{ if $.Filter.ReverseEntrants }}
                                                        Yes
                                                    {{ else }}
                                                        No
                                                    {{ end }}
                                                </label>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-2 mb-2">
                                <i class="fa fa-arrow-down"></i>
                            </div>

                            <div class="card border-success">
                                <div class="card-body">

                                    <p>Then place the resulting drivers into the Entry List for <strong>{{ $.ChildSession.Name }}</strong> from:</p>

                                    <div class="form-group row">
                                        <label for="GridStart" class="col-sm-6 col-form-label">Grid Start</label>

                                        <div class="col-sm-6">
                                            <input
                                                    {{ if WriteAccess }}
                                                        type="number"
                                                    {{ else }}
                                                        type="hidden"
                                                    {{ end }}
                                                    id="GridStart"
                                                    name="GridStart"
                                                    class="form-control"
                                                    value="{{ $.Filter.EntryListStart }}"
                                                    step="1"
                                                    min="1"
                                            >

                                            {{ if not WriteAccess }}
                                                <label class="col-form-label">{{ $.Filter.EntryListStart }}</label>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>{{ $.ParentSession.Name }} Results</h4>
                                <div id="results-preview"></div>
                            </div>

                            <div class="col-md-6">
                                <h4>{{ $.ChildSession.Name }} Expected Grid</h4>
                                <div id="grid-preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ if WriteAccess }}
                    <button type="button" class="btn btn-primary" id="save-filters">Save changes</button>
                {{ end }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
{{ end }}