{{ define "pagination" }}
    {{ $currentPage := .CurrentPage }}
    {{ $numPages := .NumPages }}
    {{ $request := .Request }}

    {{ if gt $numPages 1 }}
        <nav aria-label="Page Navigation">
            <ul class="pagination justify-content-center">
                {{ $start := int (max 0 (sub $currentPage 5)) }}
                {{ $end := int (min $numPages (add $currentPage 6)) }}

                {{ if eq $end 1 }}
                    {{ $end = 2 }}
                {{ end }}

                <li class="page-item {{ if eq $currentPage 0 }}disabled{{ end }}">
                    <a class="page-link"
                       title="First Page"
                       {{ if eq $currentPage 0 }}tabindex="-1"{{ end }}
                       href="{{ appendQuery $.Request "page" "0" }}">
                        <i class="fas fa-fast-backward fa-fw"></i>
                    </a>
                </li>


                <li class="page-item {{ if eq $currentPage 0 }}disabled{{ end }}">
                    <a class="page-link"
                       title="Previous Page"
                       {{ if eq $currentPage 0 }}tabindex="-1"{{ end }}
                       href="{{ appendQuery $.Request "page" (sub $currentPage 1 | toString) }}">
                        <i class="fas fa-caret-left fa-fw"></i>
                    </a>
                </li>

                {{ range $i, $no := (untilStep $start $end 1) }}
                    <li class="page-item {{ if eq $currentPage $no }}disabled pagination-current-page{{ end }}">
                        <a class="page-link"
                           href="{{ appendQuery $.Request "page" ($no | toString) }}">
                            {{ add $no 1 }}
                        </a>
                    </li>
                {{ end }}


                <li class="page-item {{ if eq $currentPage (sub $numPages 1) }}disabled{{ end }}">
                    <a class="page-link"
                       title="Next Page"
                       {{ if gt $currentPage (add $numPages -1) }}tabindex="-1"{{ end }}
                       href="{{ appendQuery $.Request "page" (add $currentPage 1 | toString) }}">
                        <i class="fas fa-caret-right fa-fw"></i>
                    </a>
                </li>

                <li class="page-item {{ if eq $currentPage (sub $numPages 1) }}disabled{{ end }}">
                    <a class="page-link"
                       title="Last Page"
                       {{ if eq $currentPage (add $numPages -1) }}tabindex="-1"{{ end }}
                       href="{{ appendQuery $.Request "page" ((add $numPages -1) | toString) }}">
                        <i class="fas fa-fast-forward fa-fw"></i>
                    </a>
                </li>
            </ul>
        </nav>
    {{ end }}
{{ end }}