{{ define "premium" }}
    {{ if not $.IsPremium }}
        <div class="card border-primary mb-4 {{ randAlphaNum 10 }}" id="{{ randAlphaNum 10 }}">
            <div class="card-body">
                <p>
                    Assetto Corsa Server Manager is free, open source software. We're really proud of it and we think it adds a lot of
                    really exciting stuff to Assetto Corsa. It's improved the way we play and enjoy the game,
                    and we hope that it has done for you too.
                </p>

                <p>
                    We have dedicated a lot of time towards the development of Server Manager, and it'd be great if
                    you would consider supporting us. It helps us keep working on cool new features for Server Manager!
                </p>

                <ul>
                    <li>
                        <strong>Rent a Server</strong> - always-online server hosting for Assetto Corsa - with Server Manager Premium (obviously!).
                        We handle setup and updates so you can get on and race!
                    </li>

                    <li>
                        <strong>Go Premium</strong> - purchase Server Manager Premium with PayPal. This is a one-off purchase. If you send $10 or more,
                        we will email you a copy of Server Manager Premium, which includes: <a href="https://acsr.assettocorsaservers.com">Assetto Corsa Skill Ratings</a>, our powerful new <a href="/race-weekends">Race Weekends</a> feature, and Lua Scripting Hooks!
                        You will also receive premium versions of all future Server Manager updates!
                    </li>
                </ul>
            </div>
            <div class="card-footer text-right">
                <div class="float-left">
                    <a class="btn btn-primary" href="/premium">Learn more about Premium</a>
                </div>
                <div class="float-right text-right">
                    <a class="btn btn-success" href="https://assettocorsaservers.com">Rent a Server <i class="ml-1 fas fa-server"></i></a>
                    <a class="btn btn-danger" href="https://paypal.me/JustaPenguinUK">Go Premium <i class="ml-1 fas fa-heart"></i></a>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}