{{/* gotype: github.com/JustaPenguin/assetto-server-manager.manageAccountsTemplateVars */}}

{{ define "title" }}Manage Accounts{{ end }}

{{ define "content" }}
    <h1 class="text-center">Manage Accounts</h1>

    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>

        {{ range $index, $account := .Accounts }}
            <tr>
                <td>{{ $index }}</td>
                <td>{{ $account.Name }}</td>
                <td>{{ $account.Group }}</td>
                <td>
                    {{ if ne $account.Name "admin" }}
                        <a class="btn btn-warning" href="/accounts/edit/{{ $account.ID.String }}">
                            Edit
                        </a>
                        {{ if ne $.BaseTemplateVars.User.ID.String $account.ID.String }}
                            <a onClick="return confirm('I understand that this will delete this account permanently.') "
                               class="btn btn-danger" href="/accounts/delete/{{ $account.ID.String }}">
                                Delete
                            </a>
                        {{ end }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </table>

    <div class="mt-3">
        <a class="btn btn-success float-right" href="/accounts/new">Add Account</a>
    </div>
    <div class="clearfix"></div>


    <h2>Open Server Manager</h2>

    <p>An Open Server Manager allows read access to anyone without an account.</p>

    {{ if $.ServerReadIsOpen }}
        <p class="d-inline-block mr-5 text-success">Server Manager is currently open.</p>

        <a href="/accounts/toggle-open" class="btn btn-danger d-inline-block">Make Closed</a>
    {{ else }}
        <p class="d-inline-block mr-5 text-danger">Server Manager is currently not open.</p>

        <a href="/accounts/toggle-open" class="btn btn-success d-inline-block">Make Open</a>
    {{ end }}
{{ end }}