{{ define "title" }}Manage Accounts{{ end }}

{{ define "content" }}

    <h1 class="text-center">Manage Accounts</h1>

    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>

        {{ range $index, $account := .Accounts }}
            <tr>
                <td>{{ $index }}</td>
                <td>{{ $account.Name }}</td>
                <td>{{ $account.Group }}</td>
                <td>
                    <a class="btn btn-warning" href="/accounts/edit/{{ $account.ID.String }}">
                        Edit
                    </a>
                    <a class="btn btn-danger" href="/accounts/delete/{{ $account.ID.String }}">
                        Delete
                    </a>
                </td>
            </tr>
        {{ end }}
    </table>

    <a class="btn btn-success mt-3 float-right" href="/accounts/new">Add Account</a>
    <div class="clearfix"></div>
{{ end }}