{{/* gotype: github.com/JustaPenguin/assetto-server-manager.newPasswordTemplateVars */}}

{{ define "title" }}Create a Password{{ end }}

{{ define "content" }}
    <div class="col-sm-8 offset-sm-2">
        <form method="post" action="/accounts/new-password">
            <div class="card mb-3 border-success">
                <div class="card-header bg-success text-white"><strong>{{ if not .NewAccount }}Update{{ else }}Create a{{ end }}
                        Password</strong></div>
                <div class="card-body">

                    {{ if not .NewAccount }}
                        <div class="form-group row">
                            <label for="CurrentPassword" class="col-sm-3 col-form-label">Current Password</label>

                            <div class="col-sm-9">
                                <input
                                        type="password"
                                        id="CurrentPassword"
                                        name="CurrentPassword"
                                        class="form-control"
                                        placeholder="current password"
                                        required="required"
                                >
                            </div>
                        </div>
                    {{ end }}

                    {{ if .NewAccount }}
                        <p><strong>Thanks for logging in!</strong></p>

                        <p> As this is your first time logging in, you need to set your own password
                            for future use! There are no restrictions, but try to make the password as
                            <strong>strong</strong> as you can and make sure to save it somewhere!</p>
                    {{ end }}

                    <div class="form-group row">
                        <label for="Password" class="col-sm-3 col-form-label">New Password</label>

                        <div class="col-sm-9">
                            <input
                                    type="password"
                                    id="Password"
                                    name="Password"
                                    class="form-control"
                                    placeholder="password"
                                    required="required"
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="RepeatPassword" class="col-sm-3 col-form-label">Repeat Password</label>

                        <div class="col-sm-9">
                            <input
                                    type="password"
                                    id="RepeatPassword"
                                    name="RepeatPassword"
                                    class="form-control"
                                    placeholder="repeat password"
                                    required="required"
                            >
                        </div>
                    </div>

                    <button class="btn btn-success float-right" type="submit">Create Password</button>
                </div>
            </div>
        </form>
    </div>
{{ end }}