{{/* gotype: github.com/JustaPenguin/assetto-server-manager.createAccountTemplateVars */}}

{{ define "title" }}
    {{ if $.IsEditing }}Edit{{ else }}Add{{ end }} an Account
{{ end }}

{{ define "content" }}
    <div class="card">
        <div class="card-header">
            {{ if $.IsEditing }}Edit{{ else }}Add{{ end }} an Account
        </div>

        <div class="card-body">
            <form method="post" {{ if $.IsEditing }}action="/accounts/edit/{{ .Account.ID.String }}"{{ else }}action="/accounts/new"{{ end }}>
                <div class="form-group row">
                    <label for="Username" class="col-sm-3 col-form-label">Username</label>

                    <div class="col-sm-9">
                        <input
                            type="text"
                            id="Username"
                            name="Username"
                            class="form-control"
                            placeholder="username"
                            {{ with .Account.Name }}
                                value="{{ . }}"
                            {{ end }}
                        >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Group" class="col-sm-3 col-form-label">Group</label>

                    <div class="col-sm-9">
                        <select class="form-control" id="Group" name="Group">
                            <option value="read" {{ if eq .Account.Group "read" }}selected="selected"{{ end }}>Read - Read races, content, and championships</option>
                            <option value="write" {{ if eq .Account.Group "write" }}selected="selected"{{ end }}>Write - Read and Write races, content and championships</option>
                            <option value="delete" {{ if eq .Account.Group "delete" }}selected="selected"{{ end }}>Delete - Read, Write, Delete races, content and championships</option>
                            <option value="admin" {{ if eq .Account.Group "admin" }}selected="selected"{{ end }}>Admin - Full access</option>
                            <option value="no_access" {{ if eq .Account.Group "no_access" }}selected="selected"{{ end }}>No Access - user cannot access anything.</option>
                        </select>

                        <small>Please note that Groups are per Server Manager instance. In a Multi-Server environment, you can set different groups for users per server.</small>
                    </div>
                </div>


                {{ if gt (len .Account.Groups) 1 }}
                    <div class="form-group row">
                        <label for="UpdateGroupForAllServers" class="col-sm-3 col-form-label">Update Group For All Servers?</label>

                        <div class="col-sm-9">
                            <input type="checkbox"
                                   id="UpdateGroupForAllServers"
                                   name="UpdateGroupForAllServers"
                            ><br>

                            <small>If on, the group selected above will be applied to the user's account in all servers of this Multi-Server instance.</small>
                        </div>
                    </div>


                {{ end }}


                {{ if $.IsEditing }}
                    <div class="form-group row">
                        <label for="DefaultPassword" class="col-sm-3 col-form-label">Reset Password</label>

                        <div class="col-sm-9">
                            <a class="btn btn-primary" href="/accounts/reset-password/{{ .Account.ID.String }}">Reset Password</a>
                        </div>
                    </div>
                {{ else }}
                    <div class="form-group row">
                        <label for="DefaultPassword" class="col-sm-3 col-form-label">Password</label>

                        <div class="col-sm-9">
                            <code>{{ .Account.DefaultPassword }}</code><br>
                            <input type="hidden" name="DefaultPassword" value="{{ .Account.DefaultPassword }}">

                            <small>This password is autogenerated. You will need to share it with the person you are creating the account for. They will be asked to change their password when they log in the first time.</small>
                        </div>
                    </div>
                {{ end }}


                <button class="btn btn-success float-right" type="submit">{{ if $.IsEditing }}Edit{{ else }}Add{{ end }} User</button>
            </form>
        </div>
    </div>
{{ end }}