{{/* gotype: github.com/JustaPenguin/assetto-server-manager.updateAccountTemplateVars */}}

{{ define "title" }}Update Account Details{{ end }}

{{ define "content" }}
    <div class="col-sm-8 offset-sm-2">
        <form method="post" action="/accounts/update">
            <div class="card mb-3">
                <div class="card-header"><strong>Update Account Details</strong></div>
                <div class="card-body">
                    <p><small>These account details are not mandatory, but are recommended. If you fill in these details
                            you will be added to the list of entrants that race organisers can add to events and your details
                            will be automatically filled out for you if you register for a closed event.</small></p>

                    <div class="form-group row">
                        <label for="DriverName" class="col-sm-3 col-form-label">Driver Name</label>

                        <div class="col-sm-9">
                            <input
                                    type="text"
                                    id="DriverName"
                                    name="DriverName"
                                    class="form-control"
                                    placeholder=""
                                    value="{{ .Account.DriverName }}"
                            >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="DriverGUID" class="col-sm-3 col-form-label">GUID</label>

                        <div class="col-sm-9">
                            <input
                                    type="text"
                                    id="DriverGUID"
                                    name="DriverGUID"
                                    class="form-control"
                                    placeholder=""
                                    {{ with .SteamGUIDOverride }}
                                        value="{{ . }}"
                                        readonly
                                    {{ else }}
                                        value="{{ .Account.GUID }}"
                                    {{ end }}
                            >

                            {{ if eq .SteamGUIDOverride "" }}
                                <small>
                                    If you don't know your Steam GUID, you can <a href="/accounts/update/steam">Sign in with Steam</a>
                                    to autofill it.
                                </small>
                            {{ end }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="DriverTeam" class="col-sm-3 col-form-label">Team</label>

                        <div class="col-sm-9">
                            <input
                                    type="text"
                                    id="DriverTeam"
                                    name="DriverTeam"
                                    class="form-control"
                                    placeholder=""
                                    value="{{ .Account.Team }}"
                            >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Theme" class="col-sm-3 col-form-label">Theme</label>

                        <div class="col-sm-9">
                            <select id="Theme" name="Theme" class="form-control">
                                {{ range $index, $theme := .ThemeOptions }}
                                    <option value="{{ $theme.Theme }}" {{ if eq $.Account.Theme $theme.Theme }}selected="selected" {{ end }}>{{ $theme.Name }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-primary float-right" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
{{ end }}