{{/* gotype: github.com/JustaPenguin/assetto-server-manager.serverBlacklistTemplateVars */}}

{{ define "title" }}Blacklist{{ end }}

{{ define "content" }}
    <h1 class="text-center">Blacklist</h1>

    <form method="post" action="/blacklist">
        <label for="blacklist"></label>
        <textarea id="blacklist" name="blacklist" class="form-control md-textarea text-area">{{ .Text }}</textarea>

        <button class="btn btn-success float-right mt-2" type="submit">Save</button>
    </form>

    <p><small>This file is where banned user GUIDs are stored. If blacklist mode is set to "2" users will automatically
            be added to this list when kicked. You can edit this list manually regardless of blacklist mode, but you must
            restart the server for manual changes to take affect.</small></p>
{{ end }}
