{{ define "title" }}Server Logs{{ end }}

{{ define "content" }}
    <h1 class="text-center">Server Logs</h1>

    <h2>Assetto Corsa Server</h2>
    <div class="card card-body bg-light card-logs">
        <pre id="server-logs"></pre>
    </div>
    <br>
    <a class="btn btn-primary" href="/api/log-download/server">Download Server Log</a>

    <hr>

    <h2>Server Manager</h2>

    <div class="card card-body bg-light card-logs">
        <pre id="manager-logs"></pre>
    </div>
    <br>
    <a class="btn btn-primary" href="/api/log-download/manager">Download Manager Log</a>

    <hr>

    <h2>Plugins</h2>

    <div class="card card-body bg-light card-logs">
        <pre id="plugin-logs"></pre>
    </div>
    <br>
    <a class="btn btn-primary" href="/api/log-download/plugins">Download Plugins Log</a>
{{ end }}
