{{/* gotype: github.com/JustaPenguin/assetto-server-manager.motdTemplateVars */}}

{{ define "title" }}Messages{{ end }}

{{ define "content" }}
    <h1 class="text-center">Messages</h1>

    <form method="post" action="/motd">
        <div class="mb-3">
            <h3>MOTD</h3>

            <label for="motd">Message of the day. Shown by Assetto Corsa in a full screen popup window to everyone who joins the server.</label>
            <textarea id="motd" name="motd" class="form-control md-textarea text-area">{{ .MOTDText }}</textarea>
        </div>

        <div class="mb-3">
            <h3>Server Join Message</h3>

            <label for="serverJoinMessage">Shown in chat to each user when they join the server.</label>
            <textarea id="serverJoinMessage" name="serverJoinMessage" class="form-control md-textarea text-area">{{ $.Opts.ServerJoinMessage }}</textarea>
        </div>

        <div class="mb-3">
            <h3>Content Manager Welcome Message</h3>

            {{ if and $.Opts.EnableContentManagerWrapper (gt $.Opts.ContentManagerWrapperPort 0) }}
                <div class="d-none" id="ContentManagerMessageContent">{{ trustHTML $.Opts.ContentManagerWelcomeMessage }}</div>

                <label for="contentManagerWelcomeMessage">
                    Shown to Content Manager users before they join the server.

                    This input is a template, in which you can access data about your manager/the current event.
                    You can enter anything you like in here. If you put <code>&lbrace;&lbrace; .ServerName &rbrace;&rbrace;</code> in, the Server Name will replace it.
                    If you put <code>&lbrace;&lbrace; .EventName &rbrace;&rbrace;</code>, then the Event Name will replace it.
                    You can <a href='https://github.com/JustaPenguin/assetto-server-manager/wiki/Content-Manager-Description-Templates'>view some examples</a> on the Server Manager Wiki!
                </label><br>
                <textarea id="contentManagerWelcomeMessage" name="contentManagerWelcomeMessage"></textarea>
            {{ else }}
                Enable Content Manager Wrapper in <a href="/server-options">Server Options</a> to show this message.
            {{ end }}
        </div>


        <button class="btn btn-success float-right mt-2" type="submit">Save</button>
    </form>
{{ end }}
