{{/* gotype: github.com/JustaPenguin/assetto-server-manager.realPenaltyConfigurationTemplateVars */}}

{{ define "title" }}Real Penalty Options{{ end }}

{{ define "content" }}
    <h1 class="text-center">Real Penalty Options</h1>

    <p>
        <a href="https://www.racedepartment.com/downloads/real-penalty-tool.29591/">Real Penalty</a> is the popular server side app
        designed to manage custom penalties for organised racing.
    </p>

    {{ if .IsRealPenaltyInstalled }}
        <p>
            These configuration options are applied globally - they are applied to the Real Penalty configuration files
            whenever a race setup is started by Server Manager.
        </p>

        <form method="post" action="/realpenalty/options">
            {{ $.Form }}

            <button class="btn btn-success float-right" type="submit">Save</button>

            <div class="clearfix"></div>
        </form>
    {{ else }}
        <p>Real Penalty is not installed. Please follow the instructions below to install Real Penalty, or contact your Server Administrator:</p>

        <ol>
            <li><a href="https://www.racedepartment.com/downloads/real-penalty-tool.29591/updates#resource-update-56177">Download Real Penalty</a></li>
            <li>Extract <code>AC_Penalty_Tool_ver.zip</code></li>
            <li>Navigate to the <code>Server_Plugin</code> folder inside the extracted folder</li>
            <li>Move the <code>tracks</code> and <code>files</code> folders into the <code>plugin</code> folder</li>
            <li>Create a new folder called <code>realpenalty</code> (case sensitive) in your Assetto Corsa Server Folder</li>
            <li>Copy the contents of the <code>plugin</code> folder into this new <code>realpenalty</code> folder</li>
            <li>Make sure that you have set UDP Plugin Address and UDP Plugin Local Port in <a href="/server-options">Server Options</a></li>
            <li>Refresh this page!</li>
        </ol>

        <p><small>Note: these instructions and the integration provided are known to be compatible with <code>V.2.04.04</code> of Real Penalty.
        Other versions may work. If you have problems with a more recent version than this,
        please <a href="https://github.com/JustaPenguin/assetto-server-manager/issues">File an issue</a>.</small></p>
    {{ end }}
{{ end }}
