{{/* gotype: github.com/JustaPenguin/assetto-server-manager.strackerConfigurationTemplateVars*/}}

{{ define "title" }}STracker Options{{ end }}

{{ define "content" }}
    <h1 class="text-center">STracker Options</h1>

    <p>
        <a href="https://www.racedepartment.com/downloads/stracker.3510/">STracker</a> is the popular server side app
        companion to <a href="https://www.racedepartment.com/downloads/ptracker.3509/">PTracker</a>, for lap and race
        tracking.
    </p>

    {{ if .IsStrackerInstalled }}
        <p>
            These configuration options are applied globally - they are applied to the stracker configuration file
            whenever a race setup is started by Server Manager.
        </p>

        <form method="post" action="/stracker/options">
            {{ $.Form }}

            <button class="btn btn-success float-right" type="submit">Save</button>

            <div class="clearfix"></div>
        </form>
    {{ else }}
        <p>STracker is not installed. Please follow the instructions below to install STracker, or contact your Server Administrator:</p>

        <ol>
            <li><a href="https://www.racedepartment.com/downloads/stracker.3510/">Download stracker</a></li>
            <li>Extract the stracker zip into a folder called "stracker" (case sensitive) in your Assetto Corsa Server folder</li>
            <li>If you are on Linux, extract the <code>stracker_linux_x86.tgz</code> folder. (e.g. <code>tar xfvz stracker_linux_x86.tgz</code>)</li>
            <li>Make sure that you have set UDP Plugin Address and UDP Plugin Local Port in <a href="/server-options">Server Options</a></li>
            <li>Refresh this page!</li>
        </ol>
    {{ end }}
{{ end }}
