{{/* gotype: github.com/cj123/assetto-server-manager.strackerConfigurationTemplateVars*/}}

{{ define "title" }}STracker Options{{ end }}

{{ define "content" }}
    <h1 class="text-center">STracker Options</h1>

    {{ if .IsStrackerInstalled }}
        <p>These configuration options are applied globally - they are applied to each race setup started by Server Manager.</p>

        <form method="post" action="/stracker/options">
            {{ range $k, $v := .Form.Fields }}
                {{ $v.HTML }}
            {{ end }}

            <button class="btn btn-success float-right" type="submit">Save</button>

            <div class="clearfix"></div>
        </form>
    {{ else }}
        <p>STracker is not installed. Please follow <a href="#">these instructions</a> to install STracker.</p>
    {{ end }}
{{ end }}
