.fc.fc-bootstrap a {
  border-width: 3px;
  padding: 2px;
  font-weight: bold;
  opacity: 1;
}

.calendar-link {
  filter: brightness(1)!important;
}

.calendar-link:hover {
  filter: brightness(1.1)!important;
}

.calendar-card:hover {
  z-index: 100!important;
}

.calendar-small {
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
}

.calendar-signup-link {
  font-size: 11px;
  font-weight: normal;
  float: right;

  color: #0056ff;
}

.pl-4-5 {
  padding-left: 2rem!important;
}

.fc-today {
  background: #9ec6f5;
}
