.card-car {
  h3 {
    color: $link-color;
  }

  &:hover {
    cursor: pointer;

    h3 {
      color: $link-hover-color;
    }
  }

  .delete-car {
    color: $danger;

    position: absolute;
    top: 0;
    right: 15px;
  }
}

.car-details, .track-details {
  .car-skins, .track-layouts {
    max-height: 518px;
    overflow-y: auto;

    &:not(#hero-skin) {
      cursor: pointer;
    }

    .car-skin, .track-layout {
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  #input-folder-skin {
    &:hover {
      cursor: pointer;
    }
  }

  .btn:hover {
    cursor: pointer;
  }
}