
.table-championship {
  tr {
    td {
      &:first-child {
        max-width: 300px;
      }

      &:last-child {
        max-width: 270px;
        text-align: center;
      }
    }
  }
}

.championship-signup-question {
  margin-bottom: 5px;
}

.popover-signup-answers {
  font-size: 0.9rem;
  max-height: 500px;
  overflow-y: auto;
}

.points-transfer {
  margin-top: 10px;
  font-size: 0.765625rem;
  line-height: 1.5;

  display: none;
}

.points-transfer label {
  padding-top: 6px;
}

.points-transfer .bootstrap-switch {
  float: right;
}

.entrant-table-max-height {
    max-height: 1110px;
}

#importWeekendDropdown, #importCustomDropdown {
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .championship-button-row {
    position: absolute;
    bottom: 0;
  }
}

.acsr-link {
  span.badge {
    display: inline-block;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;

    span.badge {
      cursor: pointer;
    }
  }
}

.acsr-badge {
  &--skill {
    min-width: 25px;
  }

  &--safety {
    min-width: 40px;
  }

  &--provisional {
    min-width: 68px;
  }

  &--unranked {
    min-width: 68px;
  }
}
