
.car-image {
  border-radius: 0.25rem;
}

.entryListCarPreview {
  border-radius: 0.25rem;
}

.nav-tabs .nav-link:not(.disabled):hover, .nav-tabs .nav-link:not(.disabled):focus, .nav-tabs .nav-link.active {
  padding-bottom: calc(0.5em + 7px) !important;
}

.search-input {
  margin-bottom: 5px;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #08c!important;
}

.bg-dlc {
    background-color: #b5d9f5;
}

.bg-mod {
    background-color: #f2dede;
}

.bg-default-content {
    background-color: #d1ffd1;
}


.race-setup .pit-boxes {
  padding-top: calc(0.375rem + 1px);
}

#entrantTemplate {
  display: none;
}

.image-track {
  max-height: 200px;
  border-radius: 0.25rem !important;
}


.numEntrantsToAdd {
  display: inline-block !important;
  max-width: 80px;
  position: relative;
  top: 1px;
}

.entrant-car {
  width: 18rem;
  display: inline-block;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.entrant-car:first-child {
  padding-left: 0 !important;
}

.entrant-car:last-child {
  padding-right: 0 !important;
}

.custom-race-actions .btn:not(.dropdown-toggle-split) {
  width: 48%;
  min-width: 115px;
}

.custom-race-actions .btn {
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
}

.custom-race-actions-btn-group {
  width: 48%;
  min-width: 115px;
}

.custom-race-actions-btn-big {
  width: 80% !important;
  min-width: 0 !important;
}

.custom-race-actions-btn-small {
  width: 20% !important;
  min-width: 0 !important;
}

.table-custom-race tr td:nth-child(1) {
  text-align: center;
}

.table-custom-race tr td:nth-child(2) {
  max-width: 250px;
}

.table-custom-race tr td:nth-child(3) {
  width: 30px;
}

.table-custom-race tr td:last-child {
  max-width: 160px;
  text-align: center;
}

.legal-tyres .ms-selectable .ms-list {
  border-color: #FF4136;
}

.legal-tyres .ms-selection .ms-list {
  border-color: #28B62C;
}

.visible-driver-swap-enabled {
  display: none;
}

.weather {
  font-size: 14px;
}
