
a.card h3 {
  color: $body-color;
  margin-top: 20px;
  font-size: 1.50rem;
}


a.card:hover {
  text-decoration: none;
}

.home-race-info {
  min-height: 200px;
}

@media screen and (max-width: 768px) {
  .home-race-info .race-info {
    min-height: 200px;
  }

  .home-race-info .button-bar {
    position: relative;
    width: auto;
    margin-bottom: 10px;
  }

  .home-race-info .float-right {
    float: unset !important;
  }

  .home-race-info .btn {
    width: 100%;
  }

  #trackImage {
    padding-left: 0 !important;
    width: 100%;
  }
}

.home-race-info .race-info, .home-race-info .race-info small {
  font-size: 1.1em;
}

.premium-feature {
  min-height: 130px;
}