
body {
  padding-top: 100px;
  font-size: 1rem !important;
  overflow-y: scroll;
}

.navbar-brand {
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

footer {
  margin-top: 20px;
}

.ms-container {
  width: 100% !important;
}

.button-bar {
  position: absolute;
  bottom: 0;
  width: 100%
}

.nav-tabs .nav-link {
  color: #495057;
}

abbr[title] {
  text-decoration: none !important;
}

.card-logs {
  max-height: 600px;
}


.d-contents {
  display: contents;
}

.img-footer {
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: -10px;
  margin-left: 10px;
  float: right;
}

footer {
  padding-bottom: 20px;
}

footer a {
  display: inline-block;
}

@media screen and (max-width: 550px) {
  .img-footer {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer .col-sm-4 {
    text-align: center !important;
  }
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
  .navbar .container {
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 100% !important;
  }
}

.fa-stack-override {
  display: inline-block;
  height: 0.7em;
  position: relative;
  width: 1.4em;
}

.text-area {
  min-height: 200px;
}

.multiserver-dropdown {
  padding: 5px;
  width: 270px;
  max-height: 500px;
  overflow-y: auto;

  .multiserver {

    padding: 10px;
    margin: 2px;
    display: block;
    border: 1px solid $gray-400;
    border-radius: 2px;
    color: $body-color;
    text-decoration: none;
    height: 80px;

    &:hover {
      border-color: $primary;
    }

    .meta {
      @include make-row();
    }

    .description {
      @include make-col(9);

      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-height: 18px;
        height: 18px;
      }

      .players, .status {
        display: block;
        font-size: $font-size-sm;
        color: $gray-600;

        position: relative;
      }
    }

    .icon {
      @include make-col(3);

      text-align: center;
      margin-top: 3px;
    }
  }
}

.navbar {
  @media (max-width: breakpoint-max(md)) {
    overflow: auto;
    max-height: 85vh;
    align-items: start;
  }
}

.select2-selection {
  box-shadow: $input-box-shadow;
}

.select2, .select2-container {
  font-size: 14px;
}

.entrant .select2 {
  font-size: 12px;
}

.select2-dropdown {
  z-index: 999;
}
