.race-weekend-session {
  width: 500px;
  display: block;
  position: absolute;
}

.jtk-connector {
  // @TODO blending with things can cause problems
  mix-blend-mode: hard-light;
  z-index: 1000;

  &:hover {
    cursor: pointer;
  }
}

#race-weekend-graph-container {
  position: relative;
  padding-bottom: 250px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
