
.results {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

a.detailed-results:hover {
  text-decoration: none;
}

span[data-toggle=tooltip] {
  cursor: default;
}

.driver-link:hover, .row-link:hover {
  cursor: pointer;
  color: #158CBA;
}

.championship .driver-link:hover, .championship .row-link:hover {
  cursor: initial;
  color: initial;
}

.badge-best {
  color: #fff;
  background-color: rgba(99, 24, 165, 0.86);
}

.image-overlay {
    position: relative;
    top: 0;
    left: 0;

    &-top {
        position: relative;
        top: 0;
        left: 0;
    }

    &-bottom {
      position: absolute;
      top: 0;
      left: 0;
    }
}
