// bootstrap
@import "bootswatch/dist/lumen/variables";

// NOTE: DO NOT ADD IMPORTS HERE, PUT THEM IN _imports.scss

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #ebebeb;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #999;
$gray-700: #444;
$gray-800: #303030;
$gray-900: #222;
$black:    #000;

$blue:    #375a7f;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #E74C3C;
$orange:  #fd7e14;
$yellow:  #F39C12;
$green:   #00bc8c;
$teal:    #20c997;
$cyan:    #3498DB;

$info: $purple;

$yiq-contrasted-threshold:  175;

// Body

$body-bg:                   $gray-900;
$body-color:                $white;

// Links


// Tables

$table-accent-bg:             $gray-800;

$table-border-color:          $gray-700;

// Forms

$input-border-color:                    transparent;

$input-group-addon-color:               $gray-500;
$input-group-addon-bg:                  $gray-700;

$custom-file-color:                 $gray-500;
$custom-file-border-color:          $gray-700;

// Dropdowns

$dropdown-bg:                       $gray-900;
$dropdown-border-color:             $gray-700;
$dropdown-divider-bg:               $gray-700;

$dropdown-link-color:               $white;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

// Navs

$nav-link-padding-x:                2rem;
$nav-link-disabled-color:           $gray-500;

$nav-tabs-border-color:             $gray-700;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent;
$nav-tabs-link-active-color:        $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;



$navbar-dark-color:                rgba($white,.6);
$navbar-dark-hover-color:          $white;

$navbar-light-color:                 $white;
$navbar-light-hover-color:           $success;
$navbar-light-active-color:         $white;
$navbar-light-disabled-color:       rgba($white,.3);
$navbar-light-toggler-border-color: rgba($white,.1);

// Pagination

// Jumbotron

$jumbotron-bg:                      $gray-800;

// Cards

$card-cap-bg:                       $gray-700;
$card-bg:                           $gray-800;

// Popovers

$popover-bg:                        $gray-800;

$popover-header-bg:                 $gray-700;

// Modals

$modal-content-bg:                  $gray-800;
$modal-content-border-color:        $gray-700;

$modal-header-border-color:         $gray-700;

$progress-bg:                       $gray-700;


// List group

$list-group-bg:                     $gray-800;
$list-group-border-color:           $gray-700;

$list-group-hover-bg:               $gray-700;

// Breadcrumbs

$breadcrumb-bg:                     $gray-700;

// Close

$close-color:                       $white;
$close-text-shadow:                 none;

// Code

$pre-color:                         inherit;


@import "imports";

.bg-dlc {
    background-color: #3c4c59 !important;
    color: $white !important;
}

.bg-mod {
    background-color: #574350 !important;
    color: $white !important;
}

.bg-default-content {
    background-color: #3a543a !important;
    color: $white !important;
}

#search-info.text-black-50 {
  color: $white !important;
}

.form-control, .ms-selectable, .ms-selection, .ms-container *:not(.ms-hover):not(span):not(.bg-mod):not(.bg-dlc), .select2-selection, .select2-dropdown, .select2-dropdown input.select2-search__field {
  background: $gray-700 !important;
  color: $white !important;
}

.select2-dropdown .select2-results__option[aria-selected="true"] {
  color: $black;
}

.select2-selection__arrow b {
  border-color: $white transparent transparent transparent !important;
}

strong.select2-results__group {
  color: $white !important;
}

.bg-secondary {
  color: $black !important;
}

.border-secondary {
  border-color: $black !important;
}

.list-group-item, .list-group-item:hover {
  color: $white;
}

.card-logs {
  background-color: $gray-800 !important;
}

svg.race-weekend-connector path {
  stroke: $white !important;
}

svg path.race-weekend-arrow {
  stroke: $white !important;
  fill: $white !important;

  &:hover {
    stroke: $primary !important;
    fill: $primary !important;
  }
}

#track-location {
  color: $white !important;
}

.table-secondary {
  color: $black !important;
}

