{{ define "title" }}{{ $.RaceWeekend.Name }} Race Weekend{{ end }}

{{ define "content" }}
    <h1 class="text-center">{{ $.RaceWeekend.Name }}</h1>

    <div class="row">
        {{ range $sessionIndex, $session := $.RaceWeekend.SortedSessions }}

            {{ $raceConfig := $session.RaceConfig }}
            {{ $trackInfo := trackInfo $raceConfig.Track $raceConfig.TrackLayout }}

            {{ $numSiblings := $.RaceWeekend.GetNumSiblings $session }}
            {{ $numParentsLeft := $.RaceWeekend.NumParentsLeft $session }}
            {{ $numParentsAbove := $.RaceWeekend.NumParentsAbove $session }}

            <div  draggable="true" style="width: {{ if eq $numSiblings 0 }}100%{{ else }}{{ columnWidth ($.RaceWeekend.GetNumSiblings $session) }}%{{ end }}; {{ if eq $numParentsAbove 0 }}margin-top: 35px;{{ end }}; padding-left: 20px; padding-right: 20px; position: relative;">


                {{ if gt $numParentsAbove 0 }}
                    <div class="row">
                        {{ range until $numParentsAbove }}
                            <div class="text-center" style="width: {{ columnWidth $numParentsAbove }}%;">
                                <i class="fa fa-arrow-down" style="margin-top: 15px;"></i>
                            </div>
                        {{ end }}
                    </div>
                {{ end }}

                {{ if gt $numParentsLeft 0 }}
                    <div class="flow-right" style="position: absolute; top: 50%; left: -7px;">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                {{ end }}

                <div class="card mt-3 border-secondary">
                    <div class="card-header">
                        {{ $acSession := $session.SessionInfo }}

                        <strong>{{ $acSession.Name }}</strong>
<!--
                        at

                        {{ with $trackInfo }}
                            {{ $trackInfo.Name }}
                        {{ else }}
                            {{ prettify $raceConfig.Track false }} {{ prettify $raceConfig.TrackLayout true }}
                        {{ end }}

                        in

                        {{ carList $.RaceWeekend.EntryList.CarIDs }}
-->
                        <div class="float-right">
                            {{ if ne $acSession.Time 0 }}
                                {{ $acSession.Time }} minutes
                            {{ else }}
                                {{ with $acSession.Laps }}
                                    {{ . }} laps
                                {{ end }}
                            {{ end }}

                            -

                            {{ if not ($.RaceWeekend.SessionCanBeRun $session) }}
                                <span class="text-danger">Not available</span>
                            {{ else if $session.Completed }}
                                <span class="text-success">Complete</span>
                            {{ else if $session.InProgress }}
                                <span class="text-info">In Progress</span>
                            {{ else }}
                                <span class="text-warning">Ready to Start</span>
                            {{ end }}
                        </div>
                    </div>

                    <div class="card-body">
                        {{ if WriteAccess }}
                            {{ if not (or $session.InProgress $session.Completed) }}
                                {{ if $.RaceWeekend.SessionCanBeRun $session }}
                                    <a class="btn btn-success" href="/race-weekend/{{ $.RaceWeekend.ID.String }}/session/{{ $session.ID.String }}/start">Start Session</a>
                                {{ else }}
                                    <p>This session cannot be run until all parent sessions have been run.</p>
                                {{ end }}
                            {{ else if $session.InProgress }}
                                <a onClick="return confirm('I understand that this will restart this entire session and any current results will be lost.') "
                                   class="btn btn-warning" href="/race-weekend/{{ $.RaceWeekend.ID.String }}/session/{{ $session.ID.String }}/restart">
                                    Restart Session
                                </a>

                                <a onClick="return confirm('I understand that this will cancel this entire session and any current results will be lost.') "
                                   class="btn btn-danger" href="/race-weekend/{{ $.RaceWeekend.ID.String }}/session/{{ $session.ID.String }}/cancel">
                                    Cancel Session
                                </a>
                            {{ end }}

                            <div class="dropdown show d-inline-block">
                                <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage Session
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/race-weekend/{{ $.RaceWeekend.ID.String }}/session/{{ $session.ID.String }}/edit">
                                        Edit
                                    </a>

                                    {{ if DeleteAccess }}
                                        <a onClick="return confirm('I understand that this will delete this entire session permanently.') "
                                           class="dropdown-item text-danger" href="/race-weekend/{{ $.RaceWeekend.ID.String }}/session/{{ $session.ID.String }}/delete">
                                            Delete
                                        </a>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}