{{ define "championship-class" }}
<div class="card mt-3 mb-3 border-primary race-setup">
    <div class="card-header">
        <strong>Class</strong>

        <a class="text-danger btn-delete-class float-right" href="#"><i class="fas fa-trash"></i></a>
    </div>

    {{ $class := .Class }}

    <div class="card-body" id="entrants">
        <input type="hidden" name="ClassID" id="ClassID" {{ with $class.ID }}value="{{ .String }}"{{ end }}>

        <div class="form-group row">
            <label for="ClassName" class="col-sm-3 col-form-label">Class Name</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="ClassName" name="ClassName"
                       placeholder="My awesome class" {{ with $class.Name }} value="{{.}}" {{ end }}>
            </div>
        </div>

        <div class="form-group row">
            <label for="Cars" class="col-sm-3 col-form-label">
                Cars
            </label>

            <div class="col-sm-9">
                <select multiple class="form-control Cars" name="Cars" size="15">

                    {{ range $index, $car := .CarOpts }}

                        {{ $selected := false }}

                        {{ range $j, $selectedCar := $class.ValidCarIDs }}
                            {{ if eq $selectedCar $car.Name }}
                                {{ $selected = true }}
                            {{ end }}
                        {{ end }}

                        <option value="{{ $car.Name }}" {{ if $selected }} selected="selected" {{ end }}>{{ prettify $car.Name true }}</option>
                    {{ end }}
                </select>
            </div>
        </div>

        <hr>

        {{ if gt $.MaxClientsOverride 0 }}
            <p>Your server is restricted to a maximum of <strong>{{ $.MaxClientsOverride }}</strong> championship entrants.</p>

            <input
                type="hidden"
                id="MaxClients"
                name="MaxClients"
                value="{{ $.MaxClientsOverride }}"
            >
        {{ else }}
            <input
                type="hidden"
                id="MaxClients"
                name="MaxClients"
                value="1000"
            >
        {{ end }}

        <div id="entrantTemplate" class="entrant">
            {{ template "entrant" }}
        </div>

        {{ range $index, $entrant := $class.Entrants.AsSlice }}
            <div class="entrant">
                {{ template "entrant" dict "Entrant" $entrant "IsChampionshipEvent" false }}
            </div>
        {{ else }}
            <div class="entrant">
                {{ template "entrant" }}
            </div>
        {{ end }}

        <div class="text-right">
            <input class="form-control numEntrantsToAdd" type="number" name="NumEntrantsToAdd" value="1" min="0" max="40">

            <button class="btn btn-warning addEntrant">Add Entrant(s)</button>
        </div>

        <div class="clearfix"></div>

        <input type="hidden" class="totalNumEntrants" name="EntryList.NumEntrants" value="{{ with $class.Entrants }}{{ len $class.Entrants }}{{ else }}1{{ end }}">

        <div class="mt-5 points-parent">

            <h3>Points</h3>

            {{ if and .IsEditing $class.Entrants }}

                {{ $entrantCount := int64 1 }}

                {{ range $index, $entrant := $class.Entrants }}
                    <div class="form-group row points-place">
                        <label for="Points.Place" class="col-sm-3 col-form-label">
                            {{ $entrantCount }}{{ ordinal $entrantCount }} Place
                        </label>

                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="Points.Place"
                                   placeholder="Points" value="{{ index $class.Points.Places (sub $entrantCount 1) }}">
                        </div>
                    </div>

                    {{ $entrantCount = add $entrantCount 1 }}
                {{ end }}
            {{ else }}
                <div class="form-group row points-place">
                    <label for="Points.Place" class="col-sm-3 col-form-label">
                        1st Place
                    </label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="Points.Place"
                               placeholder="Points" value="{{ index .DefaultPoints.Places 0 }}">
                    </div>
                </div>
            {{ end }}
        </div>

        <hr>

        <div class="form-group row">
            <label for="Points.BestLap" class="col-sm-3 col-form-label">Best Lap</label>

            <div class="col-sm-9">
                <input type="number" class="form-control" name="Points.BestLap"
                       placeholder="Points" value="{{ with $class.Points.BestLap }}{{ . }}{{ else }}0{{ end }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="Points.PolePosition" class="col-sm-3 col-form-label">Pole Position</label>


            <div class="col-sm-9">
                <input type="number" class="form-control" name="Points.PolePosition"
                       placeholder="Points" value="{{ with $class.Points.PolePosition }}{{ . }}{{ else }}0{{ end }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="Points.SecondRaceMultiplier" class="col-sm-3 col-form-label">Second Race Multiplier</label>

            <div class="col-sm-9">
                <input type="number" class="form-control" name="Points.SecondRaceMultiplier" step="0.01"
                       placeholder="Multiplier" value="{{ if .IsEditing }}{{ with $class.Points.SecondRaceMultiplier }}{{ . }}{{ end }}{{ else }}{{ .DefaultPoints.SecondRaceMultiplier }}{{ end }}">

                <small>
                    This multiplier is applied when giving points to any events which make use of the "Reversed Grid Positions"
                    functionality. If a second race occurs, the points given to each player will be multiplied by the given multiplier.

                    To disable points for a second race, set this to 0. The value can be negative if you like!
                </small>
            </div>
        </div>
    </div>
</div>

{{ end }}