{{ define "raceweekend-card" }}
    {{ $championship := $.Championship }}
    {{ $event := $.Event }}
    {{ $eventIndex := $.EventIndex }}
    {{ $eventInProgress := $.EventInProgress }}
    {{ $account := $.Account }}
    {{ $raceWeekend := $.RaceWeekend }}

    {{ $eventSetup := $event.RaceSetup }}

    <div class="card mt-3 border-secondary championship-event {{ if $event.Completed }}event-complete{{ end }}" id="{{ $event.ID.String }}">
        <div class="card-header">
            <strong>{{ $raceWeekend.Name }} Race Weekend</strong> at {{ $raceWeekend.TrackOverview }}

            <div class="float-right">
                {{ if $raceWeekend.Completed }}
                    <span class="text-success">Completed on {{ localFormat $raceWeekend.CompletedTime }}</span>
                {{ else if (gt $raceWeekend.Progress 0.0) }}
                    <span class="text-primary">{{ printf "%2.f" $raceWeekend.Progress }}% Complete</span>
                {{ else }}
                    <span class="text-danger">Not started</span>
                {{ end }}
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <ul class="list-unstyled">
                        {{ $sessions := $raceWeekend.SortedSessions }}

                        {{ range $sessionIndex, $session := $sessions }}
                            <li>
                                <strong>{{ $session.Name }}</strong> at

                                {{ $trackInfo := trackInfo $session.RaceConfig.Track $session.RaceConfig.TrackLayout }}

                                {{ with $trackInfo }}
                                    {{ .Name }}
                                {{ else }}
                                    {{ prettify $session.RaceConfig.Track false }} {{ with $session.RaceConfig.TrackLayout }}({{ prettify . true }}){{ end }}
                                {{ end }}


                                {{ if ne $session.Name $session.SessionType.String }}({{ $session.SessionType }}){{ end }}

                                -

                                {{ if gt $session.SessionInfo.Laps 0 }}
                                    {{ $session.SessionInfo.Laps }} Laps
                                {{ else }}
                                    {{ $session.SessionInfo.Time }} minutes

                                    {{ if $session.RaceConfig.RaceExtraLap }}
                                        + 1 lap
                                    {{ end }}
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>


                    {{/* race controls buttons */}}

                    <div class="pt-2">
                        This is a Race Weekend. You must go to the Race Weekend page to manage Championship Race Weekends.
                    </div>

                    <div class="pt-5">
                        {{ if $raceWeekend.Completed }}
                            <a class="btn btn-primary"
                               data-toggle="collapse"
                               href="#event-{{ $eventIndex }}"
                               role="button"
                               aria-expanded="false"
                               aria-controls="event-{{ $eventIndex }}">
                                View Results
                            </a>
                        {{ end }}

                        <a class="btn btn-success" href="/race-weekend/{{ $raceWeekend.ID.String }}">
                            View{{ if WriteAccess }}/Edit{{ end }} Race Weekend
                        </a>


                        {{ if WriteAccess }}
                            <div class="dropdown show" style="display: inline-block">
                                <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage Race Weekend
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/championship/{{ $championship.ID.String }}/event/{{ $event.ID.String }}/duplicate">
                                        Duplicate
                                    </a>

                                    {{ if DeleteAccess }}
                                        <a onClick="return confirm('I understand that this will delete this entire event and Race Weekend permanently.') "
                                           class="dropdown-item text-danger"  href="/championship/{{ $championship.ID.String }}/event/{{ $event.ID.String }}/delete">
                                            Delete
                                        </a>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>

                {{ if gt (len $sessions) 0 }}
                    {{ $setup := (index $sessions 0).RaceConfig }}
                    <div class="col-md-4">
                        <img class="img img-fluid ml-2 float-right image-track mb-2"
                             src="/content/tracks/{{ $setup.Track }}/ui{{ with $setup.TrackLayout }}/{{.}}{{ end }}/preview.png"
                             alt="{{ $setup.Track }} {{ $setup.TrackLayout }}"
                        >
                    </div>
                {{ end }}
            </div>


            <div class="row">
                <div class="col-md-12">
                    {{ if gt $raceWeekend.Progress 0.0 }}
                        <div {{ if $raceWeekend.Completed }} class="collapse" id="event-{{ $eventIndex }}" {{ end }}>

                            <ul class="nav nav-tabs mt-3" role="tablist">
                                {{ $sessionCount := 1 }}
                                {{ $sessionsLen := len $sessions }}

                                {{ range $sessionIndex, $session := $sessions }}
                                    <li class="nav-item">
                                        <a class="nav-link   {{ if and (not $raceWeekend.Completed) (eq $sessionCount $sessionsLen) }}  active {{ end }}"
                                           id="results-{{ $sessionCount }}-{{ $eventIndex}}-tab" data-toggle="tab"
                                           href="#results-{{ $sessionCount }}-{{ $eventIndex}}"
                                           role="tab"
                                           {{ if eq $sessionCount $sessionsLen }}aria-selected="true" {{ end }}>

                                            {{ $session.Name }}
                                        </a>
                                    </li>

                                    {{ $sessionCount = add $sessionCount 1 }}
                                {{ end }}

                                {{ if $raceWeekend.Completed }}
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="results-points-{{ $eventIndex}}-tab" data-toggle="tab"
                                           href="#results-points-{{ $eventIndex}}"
                                           role="tab"
                                        >
                                            Points
                                        </a>
                                    </li>
                                {{ end }}
                            </ul>
                            <div class="tab-content">
                                {{ $sessionCount = 1 }}

                                {{ range $sessionIndex, $session := $sessions }}
                                    <div class="tab-pane fade {{ if and (not $raceWeekend.Completed) (eq $sessionCount $sessionsLen) }} show active {{ end }}"
                                         id="results-{{ $sessionCount }}-{{ $eventIndex }}" role="tabpanel"
                                         aria-labelledby="results-{{ $sessionCount }}-{{ $eventIndex }}-tab">

                                        {{ if $session.Completed }}
                                            <p class="text-center mt-2 mb-2">
                                                <a class="detailed-results" href="/results/{{ $session.Results.SessionFile }}">View detailed results breakdown for this Session</a>
                                            </p>

                                            {{ template "session-overall" dict "sessionResults" $session.Results "account" $account }}
                                        {{ else if $session.InProgress }}
                                            <p class="text-center mt-5 pb-2"><strong>Session in Progress</strong>: Looks like there aren't any results yet. Check back later.</p>
                                        {{ else }}
                                            <p class="text-center mt-5 pb-2"><strong>Awaiting Start</strong>: Looks like this session hasn't started yet. Check back later.</p>
                                        {{ end }}
                                    </div>

                                    {{ $sessionCount = add $sessionCount 1 }}
                                {{ end }}


                                {{ if $raceWeekend.Completed }}
                                    <div class="tab-pane fade show active"
                                         id="results-points-{{ $eventIndex}}" role="tabpanel"
                                         aria-labelledby="results-points-{{ $eventIndex}}-tab">


                                        {{ $championshipHasTeamNames := $championship.HasTeamNames }}

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <tr>
                                                    {{ if $championship.IsMultiClass }}
                                                        <th>Class</th>
                                                    {{ end }}
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    {{ if $championshipHasTeamNames }}
                                                        <th>Team</th>
                                                    {{ end }}
                                                    <th>Car</th>
                                                    <th>Points</th>
                                                </tr>

                                                {{ range $classIndex, $class := $championship.Classes }}
                                                    {{ $eventStandings := $class.StandingsForEvent $championship $event }}
                                                    {{ range $pos, $standing := $eventStandings }}
                                                        <tr style="
                                                        {{ if eq $account.GUID $standing.Car.Driver.GUID }}font-weight: bold;{{ end }}
                                                        {{ if $championship.IsMultiClass }}
                                                            color: white; background: {{ classColor $classIndex }}
                                                        {{ end }}">
                                                            {{ if $championship.IsMultiClass }}
                                                                {{ if eq $pos 0 }}
                                                                    <td rowspan="{{ len $eventStandings }}">{{ $class.Name }}</td>
                                                                {{ end }}
                                                            {{ end }}
                                                            <td>{{ add $pos 1 }}</td>
                                                            <td>{{ driverName $standing.Car.Driver.Name }}</td>
                                                            {{ if $championshipHasTeamNames }}
                                                                <td>{{ $standing.Car.Driver.Team }}</td>
                                                            {{ end }}
                                                            <td>{{ prettify $standing.Car.Model true }}</td>
                                                            <td>{{ $standing.Points }}</td>
                                                        </tr>
                                                    {{ end }}
                                                {{ end }}
                                            </table>
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}
