{{ define "title" }}Custom Race{{ end }}

{{ define "content" }}
    <h1 class="text-center">Custom Race</h1>

    <form method="post" action="/custom/submit">

        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>Car &amp; Track</strong>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label for="Cars" class="col-sm-3 col-form-label">
                        Cars
                    </label>

                    <div class="col-sm-9">
                        <select multiple class="form-control" name="Cars" id="Cars" size="15">
                            {{ range $index, $car := .CarOpts }}
                                <option value="{{ $car }}">{{ prettify $car true }}</option>
                            {{ end }}
                        </select>

                        <small>Models of cars allowed in the server. The current Max Clients size is
                            <strong>{{ .MaxClients }}</strong>, so any cars you choose will be evenly distributed across
                            this
                            number in the Entry List.
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="Track" class="col-sm-3 col-form-label">
                        Track
                    </label>

                    <div class="col-sm-9">
                        <select class="form-control" name="Track" id="Track">
                            {{ range $index, $track := .TrackOpts }}
                                <option value="{{ $track }}">{{ prettify $track false }}</option>
                            {{ end }}
                        </select>

                        <small>Track name</small>
                    </div>
                </div>


                <div class="form-group row" style="display: none;">
                    <label for="TrackLayout" class="col-sm-3 col-form-label">
                        Track Layout
                    </label>

                    <div class="col-sm-9">
                        <select class="form-control" name="TrackLayout" id="TrackLayout">
                            {{ range $index, $layout := .TrackLayoutOpts }}
                                <option value="{{ $layout }}">{{ $layout }}</option>
                            {{ end }}
                        </select>

                        <small>Track layout. Some tracks don&#39;t have this.</small>
                    </div>
                </div>


            </div>
        </div>



        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>Sessions</strong>
            </div>

            <div class="card-body">
                <ul class="nav nav-tabs" role="tablist">

                    {{ range $index, $sessionType := .AvailableSessions }}
                        <li class="nav-item">
                            <a class="nav-link {{ if eq $index 0 }}active{{ end }}" id="session-{{ $sessionType }}-tab" data-toggle="tab" href="#session-{{ $sessionType }}"
                               role="tab"
                               aria-controls="{{ $sessionType }}" aria-selected="true">{{ $sessionType.String }}</a>
                        </li>
                    {{ end }}
                </ul>
                <div class="tab-content">


                    {{ range $index, $sessionType := .AvailableSessions }}
                        <div class="tab-pane fade {{ if eq $index 0 }}show active{{ end }} pt-5" id="session-{{ $sessionType }}" role="tabpanel"
                             aria-labelledby="session-{{ $sessionType }}-tab">


                            <div class="form-group row">
                                <label for="{{ $sessionType }}.Enabled" class="col-sm-3 col-form-label">Enabled</label>

                                <div class="col-sm-9">
                                    <input type="checkbox" class="session-enabler" name="{{ $sessionType }}.Enabled" id="{{ $sessionType }}.Enabled">
                                </div>
                            </div>


                            <div class="session-details" style="display: none;">
                                <div class="form-group row">
                                    <label for="{{ $sessionType }}.Name" class="col-sm-3 col-form-label">Name</label>

                                    <div class="col-sm-9">
                                        <input type="text" id="{{ $sessionType }}.Name" name="{{ $sessionType }}.Name" class="form-control" value="{{ $sessionType.String }}">

                                        <small></small>
                                    </div>
                                </div>


                                {{ if eq $sessionType "RACE" }}
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <select id="TimeOrLaps" class="form-control">
                                                <option value="Time">Time</option>
                                                <option value="Laps">Laps</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-9" id="RaceTime">
                                            <input
                                                    type="number"
                                                    id="Race.Time"
                                                    name="Race.Time"
                                                    class="form-control"
                                                    value="15"


                                                    step="1"
                                            >

                                            <small>session length in minutes</small>
                                        </div>


                                        <div class="col-sm-9" id="RaceLaps" style="display: none;">
                                            <input
                                                    type="number"
                                                    id="Race.Laps"
                                                    name="Race.Laps"
                                                    class="form-control"
                                                    value="5"


                                                    step="1"
                                            >

                                            <small>number of laps in the race</small>
                                        </div>
                                    </div>
                                {{ else }}
                                    <div class="form-group row">
                                        <label for="{{ $sessionType }}.Time" class="col-sm-3 col-form-label">Time</label>


                                        <div class="col-sm-9">
                                            <input
                                                    type="number"
                                                    id="{{ $sessionType }}.Time"
                                                    name="{{ $sessionType }}.Time"
                                                    class="form-control"
                                                    value="15"
                                                    step="1"
                                            >

                                            <small>session length in minutes</small>
                                        </div>
                                    </div>

                                {{ end }}

                                <div class="form-group row">
                                    <label for="{{ $sessionType }}.IsOpen" class="col-sm-3 col-form-label">Is Open</label>


                                    <div class="col-sm-9">
                                        <input type="checkbox" id="{{ $sessionType }}.IsOpen" name="{{ $sessionType }}.IsOpen" ><br>

                                        <small>0 = no join, 1 = free join, 2 = free join until 20 seconds to the green light</small>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label for="{{ $sessionType }}.WaitTime" class="col-sm-3 col-form-label">Wait Time</label>

                                    <div class="col-sm-9">
                                        <input
                                                type="number"
                                                id="{{ $sessionType }}.WaitTime"
                                                name="{{ $sessionType }}.WaitTime"
                                                class="form-control"
                                                value="0"


                                                step="1"
                                        >

                                        <small>seconds before the start of the session</small>
                                    </div>
                                </div>



                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>


        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>Assists</strong>
            </div>

            <div class="card-body">

                <div class="form-group row">
                    <label for="ABSAllowed" class="col-sm-3 col-form-label">ABS Allowed</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="ABSAllowed"
                                name="ABSAllowed"
                                class="form-control"
                                value="1"
                                min="0"
                                min="2"
                                step="1"
                        >

                        <small>0 -&gt; no car can use ABS, 1 -&gt; only car provided with ABS can use it; 2-&gt; any car can use
                            ABS
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="TractionControlAllowed" class="col-sm-3 col-form-label">Traction Control Allowed</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="TractionControlAllowed"
                                name="TractionControlAllowed"
                                class="form-control"
                                value="1"
                                min="0"
                                min="2"
                                step="1"
                        >

                        <small>0 -&gt; no car can use TC, 1 -&gt; only car provided with TC can use it; 2-&gt; any car can use
                            TC
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="StabilityControlAllowed" class="col-sm-3 col-form-label">Stability Control Allowed</label>


                    <div class="col-sm-9">
                        <input type="checkbox" id="StabilityControlAllowed" name="StabilityControlAllowed"><br>

                        <small>Stability assist 0 -&gt; OFF; 1 -&gt; ON</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="AutoClutchAllowed" class="col-sm-3 col-form-label">Auto Clutch Allowed</label>


                    <div class="col-sm-9">
                        <input type="checkbox" id="AutoClutchAllowed" name="AutoClutchAllowed"><br>

                        <small>Autoclutch assist 0 -&gt; OFF; 1 -&gt; ON</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="TyreBlanketsAllowed" class="col-sm-3 col-form-label">Tyre Blankets Allowed</label>


                    <div class="col-sm-9">
                        <input type="checkbox" id="TyreBlanketsAllowed" name="TyreBlanketsAllowed" checked="checked"><br>

                        <small>at the start of the session or after the pitstop the tyre will have the the optimal temperature
                        </small>
                    </div>
                </div>

            </div>
        </div>


        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>Realism</strong>
            </div>

            <div class="card-body">

                <div class="form-group row">
                    <label for="SunAngle" class="col-sm-3 col-form-label">Sun Angle</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="SunAngle"
                                name="SunAngle"
                                class="form-control"
                                value="48"


                                step="1"
                        >

                        <small>Angle of the position of the sun</small>
                    </div>
                </div>

            <!-- @TODO make this a multiselect populated by car choice -->

                <div class="form-group row">
                    <label for="LegalTyres" class="col-sm-3 col-form-label">Legal Tyres</label>

                    <div class="col-sm-9">
                        <input type="text" id="LegalTyres" name="LegalTyres" class="form-control" value="SV">

                        <small>List of tyres short names that are allowed</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="FuelRate" class="col-sm-3 col-form-label">Fuel Rate</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="FuelRate"
                                name="FuelRate"
                                class="form-control"
                                value="100"
                                min="0"

                                step="1"
                        >

                        <small>Fuel usage from 0 (no fuel usage) to XXX (100 is the realistic one)</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="DamageMultiplier" class="col-sm-3 col-form-label">Damage Multiplier</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="DamageMultiplier"
                                name="DamageMultiplier"
                                class="form-control"
                                value="100"
                                min="0"
                                min="100"
                                step="1"
                        >

                        <small>Damage from 0 (no damage) to 100 (full damage)</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="TyreWearRate" class="col-sm-3 col-form-label">Tyre Wear Rate</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="TyreWearRate"
                                name="TyreWearRate"
                                class="form-control"
                                value="100"
                                min="0"

                                step="1"
                        >

                        <small>Tyre wear from 0 (no tyre wear) to XXX (100 is the realistic one)</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="ForceVirtualMirror" class="col-sm-3 col-form-label">Force Virtual Mirror</label>


                    <div class="col-sm-9">
                        <input type="checkbox" id="ForceVirtualMirror" name="ForceVirtualMirror" checked="checked"><br>

                        <small>1 virtual mirror will be enabled for every client, 0 for mirror as optional</small>
                    </div>
                </div>



                <div class="form-group row">
                    <label for="TimeOfDayMultiplier" class="col-sm-3 col-form-label">Time Of Day Multiplier</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="TimeOfDayMultiplier"
                                name="TimeOfDayMultiplier"
                                class="form-control"
                                value="1"


                                step="1"
                        >

                        <small>multiplier for the time of day</small>
                    </div>
                </div>



                <div class="form-group row">
                    <label for="WindBaseSpeedMin" class="col-sm-3 col-form-label">Wind Base Speed Min</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="WindBaseSpeedMin"
                                name="WindBaseSpeedMin"
                                class="form-control"
                                value="3"


                                step="1"
                        >

                        <small>Min speed of the session possible</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="WindBaseSpeedMax" class="col-sm-3 col-form-label">Wind Base Speed Max</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="WindBaseSpeedMax"
                                name="WindBaseSpeedMax"
                                class="form-control"
                                value="15"


                                step="1"
                        >

                        <small>Max speed of session possible (max 40)</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="WindBaseDirection" class="col-sm-3 col-form-label">Wind Base Direction</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="WindBaseDirection"
                                name="WindBaseDirection"
                                class="form-control"
                                value="30"


                                step="1"
                        >

                        <small>base direction of the wind (wind is pointing at); 0 = North, 90 = East etc</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="WindVariationDirection" class="col-sm-3 col-form-label">Wind Variation Direction</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="WindVariationDirection"
                                name="WindVariationDirection"
                                class="form-control"
                                value="15"


                                step="1"
                        >

                        <small>variation (&#43; or -) of the base direction</small>
                    </div>
                </div>



            </div>
        </div>


        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>Rules</strong>
            </div>

            <div class="card-body">


                <div class="form-group row">
                    <label for="LockedEntryList" class="col-sm-3 col-form-label">Locked Entry List</label>


                    <div class="col-sm-9">
                        <input type="checkbox" id="LockedEntryList" name="LockedEntryList"><br>

                        <small>Only players already included in the entry list can join the server</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="RacePitWindowStart" class="col-sm-3 col-form-label">Race Pit Window Start</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="RacePitWindowStart"
                                name="RacePitWindowStart"
                                class="form-control"
                                value="25"


                                step="1"
                        >

                        <small>pit window opens at lap/minute specified</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="RacePitWindowEnd" class="col-sm-3 col-form-label">Race Pit Window End</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="RacePitWindowEnd"
                                name="RacePitWindowEnd"
                                class="form-control"
                                value="35"


                                step="1"
                        >

                        <small>pit window closes at lap/minute specified</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="ReversedGridRacePositions" class="col-sm-3 col-form-label">Reversed Grid Race Positions</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="ReversedGridRacePositions"
                                name="ReversedGridRacePositions"
                                class="form-control"
                                value="8"


                                step="1"
                        >

                        <small> 0 = no additional race, 1toX = only those position will be reversed for the next race, -1 = all
                            the position will be reversed (Retired players will be on the last positions)
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="QualifyMaxWaitPercentage" class="col-sm-3 col-form-label">Qualify Max Wait Percentage</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="QualifyMaxWaitPercentage"
                                name="QualifyMaxWaitPercentage"
                                class="form-control"
                                value="120"


                                step="1"
                        >

                        <small>The factor to calculate the remaining time in a qualify session after the session is ended: 120
                            means that 120% of the session fastest lap remains to end the current lap.
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="RaceGasPenaltyDisabled" class="col-sm-3 col-form-label">Race Gas Penalty Disabled</label>


                    <div class="col-sm-9">
                        <input type="checkbox" id="RaceGasPenaltyDisabled" name="RaceGasPenaltyDisabled"><br>

                        <small>0 = any cut will be penalized with the gas cut message; 1 = no penalization will be forced, but
                            cuts will be saved in the race result json.
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="MaxBallastKilograms" class="col-sm-3 col-form-label">Max Ballast Kilograms</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="MaxBallastKilograms"
                                name="MaxBallastKilograms"
                                class="form-control"
                                value="50"


                                step="1"
                        >

                        <small>the max total of ballast that can be added through the admin command</small>
                    </div>
                </div>



                <div class="form-group row">
                    <label for="AllowedTyresOut" class="col-sm-3 col-form-label">Allowed Tyres Out</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="AllowedTyresOut"
                                name="AllowedTyresOut"
                                class="form-control"
                                value="2"


                                step="1"
                        >

                        <small>TODO: I have no idea</small>
                    </div>
                </div>



                <div class="form-group row">
                    <label for="PickupModeEnabled" class="col-sm-3 col-form-label">Pickup Mode Enabled</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="PickupModeEnabled"
                                name="PickupModeEnabled"
                                class="form-control"
                                value="1"


                                step="1"
                        >

                        <small>if 0 the server start in booking mode (do not use it). Warning: in pickup mode you have to list
                            only a circuit under TRACK and you need to list a least one car in the entry_list
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="LoopMode" class="col-sm-3 col-form-label">Loop Mode</label>


                    <div class="col-sm-9">
                        <input type="checkbox" id="LoopMode" name="LoopMode" checked="checked"><br>

                        <small>the server restarts from the first track, to disable this set it to 0</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="SleepTime" class="col-sm-3 col-form-label">Sleep Time</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="SleepTime"
                                name="SleepTime"
                                class="form-control"
                                value="1"


                                step="1"
                        >

                        <small>TODO</small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="RaceOverTime" class="col-sm-3 col-form-label">Race Over Time</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="RaceOverTime"
                                name="RaceOverTime"
                                class="form-control"
                                value="180"


                                step="1"
                        >

                        <small>time remaining in seconds to finish the race from the moment the first one passes on the finish
                            line
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="StartRule" class="col-sm-3 col-form-label">Start Rule</label>

                    <div class="col-sm-9">
                        <input
                                type="number"
                                id="StartRule"
                                name="StartRule"
                                class="form-control"
                                value="0"
                                min="0"
                                min="2"
                                step="1"
                        >

                        <small>0 is car locked until start; 1 is teleport ; 2 is drive-through (if race has 3 or less laps then
                            the Teleport penalty is enabled)
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-success float-right mt-5" type="submit">Start Race</button>

        <div class="clearfix"></div>
    </form>
{{ end }}
