{{/* gotype: github.com/JustaPenguin/assetto-server-manager.homeTemplateVars */}}

{{ define "title" }}Home{{ end }}

{{ define "content" }}
    {{ template "premium" dict "IsPremium" $.IsPremium }}

    {{ with .RaceDetails }}
        <div class="card mb-4">
            {{ if $.ServerEvent.IsChampionship }}
                <h5 class="card-header">Championship {{ if $.ServerEvent.IsPractice }}Practice{{ else }}Event{{ end }} in Progress</h5>
            {{ else if $.ServerEvent.IsRaceWeekend }}
                <h5 class="card-header">Race Weekend {{ if $.ServerEvent.IsPractice }}Practice{{ end }} in Progress</h5>
            {{ else }}
                <h5 class="card-header">Event in Progress</h5>
            {{ end }}

            <div class="card-body row home-race-info">
                <div class="col-md-8">

                    {{ template "race-card" . }}

                    <div class="button-bar">
                        {{ if not $.PerformanceMode }}
                            <a href="/live-timing" class="btn btn-primary">Live Timings</a>
                        {{ end }}


                        {{ if WriteAccess }}
                            <div class="float-right">
                                <a
                                    href="/process/restart"
                                    class="btn btn-warning"

                                    {{ if not $.ServerEvent.IsPractice }}
                                        {{ if $.ServerEvent.IsChampionship }}
                                            onClick="return confirm('I understand that this will cancel the current championship event and all progress will be permanently lost');"
                                        {{ else if $.ServerEvent.IsRaceWeekend }}
                                            onClick="return confirm('I understand that this will cancel the current race weekend session and all progress will be permanently lost');"
                                        {{ end }}
                                    {{ end }}
                                >
                                    Restart Event
                                </a>
                                <a
                                    href="/process/stop"
                                    class="btn btn-danger"

                                    {{ if not $.ServerEvent.IsPractice }}
                                        {{ if $.ServerEvent.IsChampionship }}
                                            onClick="return confirm('I understand that this will cancel the current championship event and all progress will be permanently lost');"
                                        {{ else if $.ServerEvent.IsRaceWeekend }}
                                            onClick="return confirm('I understand that this will cancel the current race weekend session and all progress will be permanently lost');"
                                        {{ end }}
                                    {{ end }}
                                >
                                    Stop Event
                                </a>
                            </div>
                        {{ end }}
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img img-fluid ml-2"
                         id="trackImage"
                         src="/content/tracks/{{ .RaceConfig.Track }}/ui{{ with .RaceConfig.TrackLayout }}/{{.}}{{ end }}/preview.png"
                         alt="{{ .RaceConfig.Track }} {{ .RaceConfig.TrackLayout }}"
                    >
                </div>
            </div>
        </div>
    {{ end }}

    <h2>Races</h2>

    <div class="row">
        {{ if WriteAccess }}
            <div class="col-md-6 col-lg-4 mt-4">
                <a class="card" href="/quick">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <h1 class="text-center"><i class="fas fa-fighter-jet fa-2x"></i></h1>
                            </div>

                            <div class="col-7">
                                <h3>Quick Race</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{ end }}

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/custom">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h1 class="text-center"><i class="fas fa-palette fa-2x"></i></h1>
                        </div>

                        <div class="col-7">
                            <h3>Custom Races</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/championships">
                <div class="card-body">
                    <div class="row">

                        <div class="col-5">
                            <h1 class="text-center"><i class="fas fa-flag-checkered fa-2x"></i></h1>
                        </div>

                        <div class="col-7">
                            <h3>Championships</h3>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/race-weekends">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h1 class="text-center"><i class="fas fa-car-crash fa-2x"></i></h1>
                        </div>

                        <div class="col-7">
                            <h3>Race Weekends</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/results">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h1 class="text-center"><i class="fas fa-poll-h fa-2x"></i></h1>
                        </div>

                        <div class="col-7">
                            <h3>Results</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/calendar">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h1 class="text-center"><i class="fas fa-calendar-check fa-2x"></i></h1>
                        </div>

                        <div class="col-7">
                            <h3>Calendar</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <h2 class="mt-4">Content</h2>

    <div class="row">

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/tracks">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h1 class="text-center"><i class="fas fa-road fa-2x"></i></h1>
                        </div>

                        <div class="col-7">
                            <h3>Tracks</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/cars">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h1 class="text-center"><i class="fas fa-car fa-2x"></i></h1>
                        </div>

                        <div class="col-7">
                            <h3>Cars &amp; Setups</h3>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/weather">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h1 class="text-center"><i class="fas fa-cloud-moon fa-2x"></i></h1>
                        </div>

                        <div class="col-7">
                            <h3>Weather</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    {{ if WriteAccess }}

        <h2 class="mt-4">Server Management</h2>

        <div class="row">

            {{ if AdminAccess }}
                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/server-options">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-cog fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>Options</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}


            {{ if WriteAccess }}
                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/logs">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-file-alt fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>Logs</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}


            {{ if AdminAccess }}
                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/accounts">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-user fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>Accounts</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/blacklist">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-gavel fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>Blacklist</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/motd">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-comment-alt fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>Messages</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/audit-logs">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-clipboard-list fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>Audit Logs</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/stracker/options">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-stopwatch fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>STracker</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/kissmyrank/options">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-balance-scale fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>KissMyRank</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/realpenalty/options">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-shield-alt fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>Real Penalty</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/current-config">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-scroll fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>Current Config</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}

            {{ if DeleteAccess }}
                <div class="col-md-6 col-lg-4 mt-4">
                    <a class="card" href="/autofill-entrants">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h1 class="text-center"><i class="fas fa-users-cog fa-2x"></i></h1>
                                </div>

                                <div class="col-7">
                                    <h3>AutoFill Entrants</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    {{ end }}

    <div class="clearfix"></div>
{{ end }}
