{{ define "title" }}Home{{ end }}

{{ define "content" }}
    {{ with .RaceDetails }}
        <div class="card">
            {{ if eq $.server_event_type "CHAMPIONSHIP" }}
                <h5 class="card-header">Championship Event in Progress</h5>
            {{ else }}
                <h5 class="card-header">Event in Progress</h5>
            {{ end }}

            <div class="card-body row home-race-info">
                <div class="col-md-8">

                    {{ template "race-card" . }}

                    <div class="button-bar">
                        <a href="/live-timing" class="btn btn-primary">Live Timings</a>


                        {{ if WriteAccess }}
                            <div class="float-right">
                                <a
                                    href="/process/restart"
                                    class="btn btn-warning"

                                    {{ if eq $.server_event_type "CHAMPIONSHIP" }}
                                        onClick="return confirm('I understand that this will cancel the current championship event and all progress will be permanently lost');"
                                    {{ end }}
                                >
                                    Restart Event
                                </a>
                                <a
                                    href="/process/stop"
                                    class="btn btn-danger"

                                    {{ if eq $.server_event_type "CHAMPIONSHIP" }}
                                        onClick="return confirm('I understand that this will cancel the current championship event and all progress will be permanently lost');"
                                    {{ end }}
                                >
                                    Stop Event
                                </a>
                            </div>
                        {{ end }}
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img img-fluid ml-2"
                         id="trackImage"
                         src="/content/tracks/{{ .RaceConfig.Track }}/ui{{ with .RaceConfig.TrackLayout }}/{{.}}{{ end }}/preview.png"
                         alt="{{ .RaceConfig.Track }} {{ .RaceConfig.TrackLayout }}"
                    >
                </div>
            </div>
        </div>
    {{ end }}

    <div class="row">
        {{ if WriteAccess }}
            <div class="col-md-6 col-lg-4 mt-4">
                <a class="card" href="/quick">
                    <div class="card-body text-center">
                        <h1 class="text-center"><i class="fas fa-fighter-jet fa-2x"></i></h1>
                        <h2>Quick Race</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mt-4">
                <a class="card" href="/custom">
                    <div class="card-body text-center">
                        <h1 class="text-center"><i class="fas fa-palette fa-2x"></i></h1>
                        <h2>Custom Races</h2>
                    </div>
                </a>
            </div>
        {{ end }}

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/championships">
                <div class="card-body text-center">
                    <h1 class="text-center"><i class="fas fa-flag-checkered fa-2x"></i></h1>
                    <h2>Championships</h2>
                </div>
            </a>
        </div>

        {{ if AdminAccess }}
            <div class="col-md-6 col-lg-4 mt-4">
                <a class="card" href="/server-options">
                    <div class="card-body text-center">
                        <h1 class="text-center"><i class="fas fa-cog fa-2x"></i></h1>
                        <h2>Server Options</h2>
                    </div>
                </a>
            </div>
        {{ end }}

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/results">
                <div class="card-body text-center">
                    <h1 class="text-center"><i class="fas fa-poll-h fa-2x"></i></h1>
                    <h2>Results</h2>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/logs">
                <div class="card-body text-center">
                    <h1 class="text-center"><i class="fas fa-file-alt fa-2x"></i></h1>
                    <h2>Logs</h2>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/tracks">
                <div class="card-body text-center">
                    <h1 class="text-center"><i class="fas fa-road fa-2x"></i></h1>
                    <h2>Tracks</h2>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/cars">
                <div class="card-body text-center">
                    <h1 class="text-center"><i class="fas fa-car fa-2x"></i></h1>
                    <h2>Cars &amp; Setups</h2>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mt-4">
            <a class="card" href="/weather">
                <div class="card-body text-center">
                    <h1 class="text-center"><i class="fas fa-cloud-moon fa-2x"></i></h1>
                    <h2>Weather</h2>
                </div>
            </a>
        </div>

        {{ if AdminAccess }}
            <div class="col-md-6 col-lg-4 mt-4">
                <a class="card" href="/accounts">
                    <div class="card-body text-center">
                        <h1 class="text-center"><i class="fas fa-user fa-2x"></i></h1>
                        <h2>Accounts</h2>
                    </div>
                </a>
            </div>
        {{ end }}
    </div>

    <div class="clearfix"></div>
{{ end }}
