{{ define "title" }}Live Timing{{ end }}

{{ define "extracss" }}
    <style type="text/css">
        .dot {
            transition: {{ $.CSSDotSmoothing }}ms linear;
        }
    </style>
{{ end }}

{{ define "content" }}
    {{ with .RaceDetails }}

        <div class="text-center">
            <h1 class="text-center" id="event-title"></h1>

            <span id="race-time" class="mt-2 badge badge-primary" style="font-size: 1em;"></span>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <div class="card" id="event-details">
                    <div class="card-header">
                        Event in Progress
                    </div>

                    <div class="card-body">
                        <div id="current-session" class="mt-2 font-weight-bold"></div>
                        <div id="live-info-general" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" id="track-details">
                    <div class="card-header">
                        Track Information
                    </div>

                    <div class="card-body">
                        <img class="img img-fluid"
                             id="trackImage"
                             src="/static/img/no-preview-general.png"
                        >
                        <img class="img img-fluid" id="weatherImage" src="/static/img/no-preview-general.png" alt="Current Weather">

                        <div id="road-temp-wrapper" data-toggle="tooltip"
                             title data-original-title="Road Temp">
                            <div id="road-temp-text"></div>
                            <img src="/static/img/temp-road.png" alt="Road Temp" id="road-temp">
                        </div>
                        <div id="ambient-temp-wrapper" class="mt-1" data-toggle="tooltip"
                             title data-original-title="Ambient Temp">
                            <div id="ambient-temp-text"></div>
                            <img src="/static/img/temp-ambient.png" alt="Ambient Temp" id="ambient-temp">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-7 col-md-12">
                <div class="table-responsive table-sm">
                    <table id="live-table" class="table table-bordered table-striped">
                        <tr>
                            <th class="p-1 text-center">#</th>
                            <th>Driver</th>
                            <th>Car</th>
                            <th>Current Lap</th>
                            <th>Last Lap</th>
                            <th>Best Lap</th>
                            <th>Gap</th>
                            <th>Laps Completed</th>
                            <th>Top Speed</th>
                            <th class="live-events">Events</th>
                        </tr>

                        <!-- trs for drivers are appended by javascript -->
                    </table>
                </div>

                <div id="stored-times" style="display: none">
                    <h4>Stored Times</h4>
                    <div class="table-responsive table-sm">
                        <table id="live-table-disconnected" class="table table-bordered table-striped">
                            <tr>
                                <th>Driver</th>
                                <th>Car</th>
                                <th>Best Lap</th>
                                <th>Laps Completed</th>
                                <th>Top Speed</th>
                            </tr>

                            <!-- trs for drivers are appended by javascript -->
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                {{ if Config.LiveMap.IsEnabled }}
                    <div class="col-md-12 map-container">
                        <div id="map">
                            <img src="" class="img img-fluid img-bordered">
                        </div>
                    </div>
                {{ end }}

                <form action="/live-timing/save-frames" method="post" class="w-100 d-contents">
                    <!-- Hidden, used for cloning -->
                    <div class="w-100 live-frame-wrapper d-none">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item p-3 live-frame"
                                    src="">
                            </iframe>
                        </div>

                        {{ if WriteAccess }}
                            <div class="row ml-3 mr-3 mt-2 w-100">
                                <input type="text" class="live-frame-link form-control pl-1 col-8" name="frame-link"
                                       placeholder="IFrame content link (track location on map, race live stream etc.)">
                                <span class="col-1"></span>
                                <button class="btn btn-primary text-light col-3 remove-live-frame" >Remove IFrame</button>
                            </div>
                        {{ end }}
                    </div>

                    {{ with $.FrameLinks }}

                        {{ range $index, $link := $.FrameLinks }}
                            <div class="w-100 live-frame-wrapper d-contents generated">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item p-3 live-frame"
                                            src={{ $link }}>
                                    </iframe>
                                </div>

                                {{ if WriteAccess }}
                                    <div class="row ml-3 mr-3 mt-2 w-100">
                                        <input type="text" class="live-frame-link form-control pl-1 col-8" name="frame-link"
                                               value={{ $link }}>

                                        <div class="col-4 pl-1">

                                            <button class="btn btn-primary text-light remove-live-frame" >Remove IFrame</button>
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                        {{ end }}

                    {{ end }}

                    {{ if WriteAccess }}
                        <a class="ml-3 mt-2 mb-2 btn btn-primary text-light" id="add-live-frame">Add IFrame</a>
                        <button type="submit" class="ml-3 mt-2 mb-2 btn btn-success text-light">Save IFrames</button>
                    {{ end }}

                </form>
            </div>
        </div>
    {{ end }}
{{ end }}
