{{ define "title" }}Server Manager Premium{{ end }}

{{ define "content" }}
    <h1 class="text-center">Server Manager Premium</h1>

    <p>
        Assetto Corsa Server Manager is free, <a href="https://github.com/JustaPenguin/assetto-server-manager">open source</a> software. We're really proud of it and we think it adds a
        lot of really exciting stuff to Assetto Corsa. It's improved the way we play and enjoy the game, and we hope
        that it has done for you too.
    </p>

    <h2>Features</h2>

    <p>We've added some exciting extra features to Server Manager, but they are only available to Server Manager Premium users!</p>

    <div class="row mt-4 mb-4 premium-feature">
        <div class="col-4 col-sm-2">
            <h1 class="text-center text-success"><i class="fas fa-chart-line fa-2x fa-fw"></i></h1>
        </div>
        <div class="col-8 col-sm-10">
            <strong>Assetto Corsa Skill Rating (ACSR)</strong> - ACSR is a powerful new service that works in partnership
            with Server Manager. You can use ACSR to publish Championships so that other drivers can register! ACSR uses
            a powerful system which allows it to determine a rating for Driver's Skill and Safety, and a results index
            where drivers can track their progress! We're just getting started with ACSR, and we have plenty of ideas for
            new features! You can <a href="https://acsr.assettocorsaservers.com">learn more about ACSR here</a>.
        </div>
    </div>

    <div class="row mt-4 mb-4 premium-feature">
        <div class="col-4 col-sm-2">
            <h1 class="text-center text-danger"><i class="fas fa-car-crash fa-2x fa-fw"></i></h1>
        </div>
        <div class="col-8 col-sm-10">
            <strong>Race Weekends</strong> - a <a href="/race-weekends">Race Weekend</a> is a group of sequential sessions that can be run at any time.
            For example, you could set up a Qualifying session to run on a Saturday, then the Race to follow it on a Sunday.
            Server Manager handles the starting grid for you, and lets you organise Entrants into splits based on their results
            and other factors!
        </div>
    </div>

    <div class="row mt-4 mb-4 premium-feature">
        <div class="col-4 col-sm-2">
            <h1 class="text-center text-info"><i class="fas fa-users fa-2x fa-fw"></i></h1>
        </div>
        <div class="col-8 col-sm-10">
            <strong>Driver Swaps</strong> - Driver Swaps allow you to plan races where two or more drivers share the same car! Our automated system ensures
            that the Driver Swaps are fair and take the same time. Driver Swaps can be used in Custom Races, Championships and Race Weekends!
        </div>
    </div>

    <div class="row mt-4 mb-4 premium-feature">
        <div class="col-4 col-sm-2">
            <h1 class="text-center text-warning"><i class="fas fa-gas-pump fa-2x fa-fw"></i></h1>
        </div>
        <div class="col-8 col-sm-10">
            <strong>Multi-server support</strong> - as part of the premium version of Server Manager, you will receive the multi-server management tool!
            This allows you to run multiple Assetto Corsa Servers at once through a unified version of Server Manager. You can share the content for the servers
            and the Championships, Race Weekends and Custom Races, so you can run multiple events at once!
        </div>
    </div>

    <div class="row mt-4 mb-1 premium-feature">
        <div class="col-4 col-sm-2">
            <h1 class="text-center text-primary"><i class="fas fa-puzzle-piece fa-2x fa-fw"></i></h1>
        </div>
        <div class="col-8 col-sm-10">
            <strong>Lua Plugins</strong> - we've added support for Lua scripts right here in Server Manager! They let you add your own features to Server Manager!
            We've created some example plugins too &mdash; such as: adding ballast to drivers
            based on their Championship position, setting the weather of your race to be the same as the weather in your area, and
            auto disqualifying drivers based on the number of collisions they have in a race.
        </div>
    </div>

    <p>
        We're planning on adding more features to both Server Manager Premium and ACSR, and every premium purchase helps
        us continue our development on these exciting projects!
    </p>

    <h2>Going Premium</h2>

    <p>There are two ways to get access to the Premium version of Server Manager:</p>

    <ul>
        <li>
            <strong>Rent a Server</strong> - always-online server hosting for Assetto Corsa - with Server Manager Premium (obviously!).
            We handle setup and updates so you can get on and race!
        </li>

        <li>
            <strong>Buy Server Manager Premium</strong> - purchase Server Manager Premium with PayPal. This is a one-off purchase. If you send $10 or more,
            we will email you a copy of Server Manager Premium, which includes all the cool features we described above.
            You will also receive premium versions of all future Server Manager updates!
        </li>
    </ul>

    <div class="text-center mt-5 mb-5">
        <a class="btn btn-lg btn-success mr-2" target="_blank" href="https://assettocorsaservers.com/">Rent a Server <i class="ml-1 fas fa-server"></i></a>

        or

        <a class="btn btn-lg btn-primary ml-2" target="_blank" href="https://paypal.me/JustaPenguinUK">Go Premium for $10 or more <i class="ml-1 fas fa-heart"></i></a>
    </div>

    <p>Thanks, and Happy Racing!</p>
    <p><em>Callum &amp; Henry - Server Manager Developers</em></p>
{{ end }}
