{{ define "title" }}Tracks{{ end }}

{{ define "content" }}
    <h2>Upload New Track</h2>

    <form class="d-inline">
        <input id="input-folder-track" class="btn btn-secondary" name="input-folder-track[]" type="file" multiple webkitdirectory value="Choose Folder" onchange="handleFiles(this.files)"/>
    </form>

    <div id="upload-button"></div>

    <div id="track-info-panel"></div>

    <h2>Track List</h2>

    <table class="table">
        <tr>
            <th>#</th>
            <th>Track Name</th>
            <th>Layouts</th>
            <th>Delete</th>
        </tr>
        {{ range $i, $track := .tracks }}
            <tr>
                <td>
                    {{ $i }}
                </td>
                <td>
                    {{ $track.Name }}
                </td>
                <td>
                    {{ $track.LayoutsCSV }}
                </td>
                <td>
                    <a href= {{ print "/track/delete/" $track.Name }}>Delete</a>
                </td>
            </tr>
        {{ end }}
    </table>

    <div class="clearfix"></div>
{{ end }}
