{{ define "title" }}Championships{{ end }}

{{ define "content" }}
    {{ $writeAccess := WriteAccess }}

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h1 class="text-center">Championships</h1></div>
        <div class="col-4">
            {{ if $writeAccess }}
                <a href="/championships/new" class="btn btn-success float-right">Create a new Championship</a>
                <div class="clearfix mb-5"></div>
            {{ end }}
        </div>
    </div>

    <h2>Active</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Progress</th>
            <th>Number of Events</th>
            <th>Number of Classes</th>
            <th>Number of Entrants</th>
            <th>Actions</th>
        </tr>

        {{ range $index, $championship := .championships }}
            {{ if ne $championship.Progress 100.0 }}
                <tr>
                    <td>
                        <a href="/championship/{{ $championship.ID }}">{{ $championship.Name }}</a>
                    </td>
                    <td>
                        {{ int $championship.Progress }}%
                    </td>
                    <td>
                        {{ len $championship.Events }}
                    </td>
                    <td>
                        {{ len $championship.Classes }}
                    </td>
                    <td>
                        {{ $championship.NumEntrants }}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" href="/championship/{{ $championship.ID }}">View</a>
                        <a class="btn btn-sm btn-info" href="/championship/{{ $championship.ID }}/export">Export</a>

                        {{ if $writeAccess }}
                            <a class="btn btn-sm btn-warning" href="/championship/{{ $championship.ID }}/edit">Edit</a>
                            <a onClick="return confirm('I understand that this will delete the entire championship permanently.') "
                               class="btn btn-sm btn-danger" href="/championship/{{ $championship.ID }}/delete">Delete</a>
                        {{ end }}
                    </td>
                </tr>
            {{ end}}
        {{ end }}
    </table>

    <hr>

    <h2>Completed</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Number of Events</th>
            <th>Number of Classes</th>
            <th>Number of Entrants</th>
            <th>Actions</th>
        </tr>

        {{ range $index, $championship := .championships }}
            {{ if eq $championship.Progress 100.0 }}
                <tr>
                    <td>
                        <a href="/championship/{{ $championship.ID }}">{{ $championship.Name }}</a>
                    </td>
                    <td>
                        {{ len $championship.Events }}
                    </td>
                    <td>
                        {{ len $championship.Classes }}
                    </td>
                    <td>
                        {{ $championship.NumEntrants }}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" href="/championship/{{ $championship.ID }}">View</a>
                        <a class="btn btn-sm btn-info" href="/championship/{{ $championship.ID }}/export">Export</a>

                        {{ if $writeAccess }}
                            <a class="btn btn-sm btn-warning" href="/championship/{{ $championship.ID }}/edit">Edit</a>
                            <a onClick="return confirm('I understand that this will delete the entire championship permanently.') "
                               class="btn btn-sm btn-danger" href="/championship/{{ $championship.ID }}/delete">Delete</a>
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
        {{ end }}
    </table>


    <div class="clearfix"></div>
{{ end }}