{{ define "title" }}Championships{{ end }}

{{ define "content" }}
    <h1 class="text-center">Championships</h1>

    <p>You currently have {{ len .championships }} championships configured.</p>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Progress</th>
            <th>Number of Events</th>
            <th>Number of Entrants</th>
            <th>Actions</th>
        </tr>

        {{ range $index, $championship := .championships }}
            <tr>
                <td>
                    <a href="/championship/{{ $championship.ID }}">{{ $championship.Name }}</a>
                </td>
                <td>
                    {{ $championship.Progress }}%
                </td>
                <td>
                    {{ len $championship.Events }}
                </td>
                <td>
                    {{ len $championship.Entrants }}
                </td>
                <td>
                    <a class="btn btn-sm btn-success" href="/championship/{{ $championship.ID }}">View</a>
                    <a class="btn btn-sm btn-info" href="/championship/{{ $championship.ID }}/export">Export</a>

                    {{ if eq $championship.Progress 0.0 }}
                        <a onClick="return confirm('I understand that this will delete the entire championship permanently.') "
                           class="btn btn-sm btn-danger" href="/championship/{{ $championship.ID }}/delete">Delete</a>
                    {{ end }}

                </td>
            </tr>
        {{ end }}
    </table>

    <a href="/championships/new" class="btn btn-success float-right">Create a new Championship</a>

    <div class="clearfix"></div>
{{ end }}