{{ define "title" }}
    {{ if .IsEditing }}
        Edit the {{ .Current.Name }} Championship
    {{ else }}
        Create a new Championship
    {{ end }}
{{ end }}

{{ define "content" }}

    {{ $f := .Current }}

    <h1 class="text-center">
        {{ if .IsEditing }}
            Edit the {{ .Current.Name }} Championship
        {{ else }}
            Create a new Championship
        {{ end }}
    </h1>

    <form action="/championships/new/submit" method="post" data-safe-submit>

        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>Championship</strong>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label for="ChampionshipName" class="col-sm-3 col-form-label">Championship Name</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ChampionshipName" name="ChampionshipName"
                               placeholder="My awesome championship" {{ with $f.Name }} value="{{.}}" {{ end }}>
                    </div>
                </div>
            </div>
        </div>

        <div id="class-template" style="display: none;">
            {{ template "championship-class" . }}
        </div>

        {{ template "championship-class" . }}

        <button id="addClass" class="btn btn-primary float-right mt-2">Add another class</button>

        <div class="clearfix"></div>

        {{ if .IsEditing }}
            <input type="hidden" name="Editing" id="Editing" value="{{ $f.ID.String }}">
            <button type="submit" class="btn btn-success mt-5 float-right">Edit Championship</button>
        {{ else }}
            <div class="mt-5 float-right">
                <button type="submit" name="action" value="addEvent" class="btn btn-success">Add an Event</button>
            </div>
        {{ end }}

        <div class="clearfix"></div>
    </form>


    <script type="text/javascript">
        const availableTyres = {{ jsonEncode .Tyres }};
        const possibleEntrants = {{ jsonEncode .PossibleEntrants }};
        const availableCars = {{ jsonEncode .CarOpts.AsMap }};
        const defaultPoints = {{ jsonEncode .DefaultPoints }};
    </script>

{{ end }}