{{ define "title" }}
    {{ if .IsEditing }}
        Edit the {{ .Current.Name }} Championship
    {{ else }}
        Create a new Championship
    {{ end }}
{{ end }}

{{ define "content" }}

    {{ $f := .Current }}

    <h1 class="text-center">
        {{ if .IsEditing }}
            Edit the {{ .Current.Name }} Championship
        {{ else }}
            Create a new Championship
        {{ end }}
    </h1>

    <form action="/championships/new/submit" method="post" id="championship-form" data-safe-submit>

        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>Championship</strong>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label for="ChampionshipName" class="col-sm-3 col-form-label">Championship Name</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ChampionshipName" name="ChampionshipName"
                               placeholder="My awesome championship" {{ with $f.Name }} value="{{.}}" {{ end }}>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ChampionshipOpenEntrants" class="col-sm-3 col-form-label">Open Championship</label>

                    <div class="col-sm-9">
                        <input type="checkbox" class="form-control" id="ChampionshipOpenEntrants" name="ChampionshipOpenEntrants"
                               {{ if $f.OpenEntrants }} checked="checked" {{ end }}><br><br>

                        <small>
                            An Open Championship allows anyone to join a Championship Event provided that the Championship
                            still has empty entrant slots. As new Entrants join, the Championship Entrant slots will be filled.

                            It is possible to edit the slots (e.g. to assign teams) by using the Edit Championship functionality.
                        </small>
                    </div>
                </div>

                {{ if .IsEditing }}{{ with .Current.Info }}<div class="d-none" id="ChampionshipInfoHolder">{{ . }}</div>{{ end }}{{ end }}

                <div class="form-group row">
                    <label for="summernote" class="col-sm-3 col-form-label">Important Information</label>

                    <div class="col-sm-9" id="championship-info">
                        <textarea id="summernote" name="ChampionshipInfo"></textarea>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="class-template" style="display: none;">
            {{ template "championship-class" . }}
        </div>

        {{ range $classIndex, $class := $f.Classes }}
            {{ template "championship-class" dict "IsEditing" $.IsEditing "CarOpts" $.CarOpts "Championship" $.Current "Class" $class "DefaultPoints" $.DefaultPoints "MaxClientsOverride" $.MaxClientsOverride }}
        {{ else }}
            {{ template "championship-class" . }}
        {{ end }}


        <div class="mt-3">
            <button id="addClass" class="btn btn-primary float-right">Add another class</button>
        </div>
        <div class="clearfix"></div>

        {{ if .IsEditing }}
            <input type="hidden" name="Editing" id="Editing" value="{{ $f.ID.String }}">
            <button type="submit" class="btn btn-success mt-5 float-right">Edit Championship</button>
        {{ else }}
            <div class="mt-5 float-right">
                <button type="submit" name="action" value="addEvent" class="btn btn-success">Add an Event</button>
            </div>
        {{ end }}

        <div class="clearfix"></div>
    </form>


    <script type="text/javascript">
        const availableTyres = {{ jsonEncode .Tyres }};
        const possibleEntrants = {{ jsonEncode .PossibleEntrants }};
        const availableCars = {{ jsonEncode .CarOpts.AsMap }};
        const defaultPoints = {{ jsonEncode .DefaultPoints }};
        const fixedSetups = {{ jsonEncode .FixedSetups }};
    </script>

{{ end }}