{{/* gotype: github.com/JustaPenguin/assetto-server-manager.championshipSignUpFormTemplateVars */}}

{{ define "title" }}{{ $.Championship.Name }}{{ end }}

{{ define "content" }}
    {{ $championship := $.Championship }}
    <h1 class="text-center">
        {{ $championship.Name }}
    </h1>

    {{ if $championship.ACSR }}
        <div class="text-center">
            <em>
                An <a href="https://acsr.assettocorsaservers.com">Assetto Corsa Skill Rating</a> Championship
            </em>
        </div>
    {{ end }}

    {{ with $championship.Info }}
        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>About Championship</strong>
            </div>

            <div class="card-body">
                {{ $championship.Info }}

                <div class="clearfix"></div>
            </div>
        </div>
    {{ end }}

    <form action="/championship/{{ $championship.ID.String }}/sign-up" method="post" id="championship-signup-form" data-safe-submit>

        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>Your Details</strong>
            </div>

            <div class="card-body">

                {{ with $.ValidationError }}
                    <div class="alert alert-danger">
                        {{ . }}
                    </div>
                {{ end }}

                <div class="form-group row">
                    <label for="Name" class="col-sm-4 col-form-label">Name</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Name" name="Name" required
                               placeholder="Jimmy Bob" value="{{ $.FormData.Name }}">
                    </div>
                </div>

                {{ if $championship.SignUpForm.AskForTeam }}
                    <div class="form-group row">
                        <label for="Team" class="col-sm-4 col-form-label">Team</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Team" name="Team"
                                   placeholder="The Fast Team" value="{{ $.FormData.Team }}">

                            <small>You may leave the team name blank.</small>
                        </div>
                    </div>
                {{ end }}

                <div class="form-group row">
                    <label for="GUID" class="col-sm-4 col-form-label">Steam GUID</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control acsrGUID" id="GUID" name="GUID"
                               placeholder="" value="{{ .FormData.GUID }}" {{ if .LockSteamGUID }} readonly{{ end }}>
                        {{ if not .LockSteamGUID }}
                            <small>
                                If you don't know your Steam GUID, you can <a href="/championship/{{.ChampionshipTemplateVars.RaceTemplateVars.Championship.ID.String }}/sign-up/steam">Sign in with Steam</a>
                                to autofill it.
                            </small>
                        {{ end }}
                    </div>
                </div>

                {{ if $championship.SignUpForm.AskForEmail }}
                    <div class="form-group row">
                        <label for="Email" class="col-sm-4 col-form-label">Email Address</label>

                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="Email" name="Email"
                                   placeholder="jimmy@bob.com" required value="{{ $.FormData.Email }}">

                        </div>
                    </div>
                {{ end }}

                {{ if ne $.RecaptchaSiteKey "" }}
                    <div class="form-group row">
                        <div class="col-sm-8 offset-sm-4">
                            <div class="g-recaptcha" data-sitekey="{{ $.RecaptchaSiteKey }}"></div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>

        {{ if not $championship.SignUpForm.HideCarChoice }}
            <div class="card mt-3 border-secondary" id="entrants">
                <div class="card-header">
                    <strong>Your Car</strong>
                </div>

                <div class="card-body row">
                    <div class="col-sm-8">
                        <div class="form-group row">
                            <label for="Car" class="col-sm-3 col-form-label">Car</label>

                            <div class="col-sm-9">
                                <select name="Car" id="Car" class="form-control entryListCar">
                                    {{ range $index, $class := $championship.Classes }}
                                        <optgroup label="{{ $class.Name }}">
                                            {{ range $index, $car := $class.ValidCarIDs }}
                                                <option value="{{ $car }}" {{ if eq $.FormData.Car $car }}selected="selected"{{ end }}>{{ prettify $car true }}</option>
                                            {{ end }}
                                        </optgroup>
                                    {{ end }}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Skin" class="col-sm-3 col-form-label">Skin</label>

                            <div class="col-sm-9">
                                <select name="Skin" id="Skin" class="form-control entryListSkin">
                                    {{ with $.FormData.Skin }}
                                        <option value="{{ . }}" selected="selected">{{ prettify . true }}</option>
                                    {{ end }}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <img class="img img-fluid entryListCarPreview" src="/static/img/no-preview-car.png" alt="Car Preview" id="CarPreview">
                    </div>
                </div>
            </div>
        {{ end }}

        {{ if gt (len $championship.SignUpForm.ExtraFields) 0 }}
            <div class="card mt-3 border-secondary" id="entrants">
                <div class="card-header">
                    <strong>Extra Information</strong>
                </div>

                <div class="card-body">
                    <p>The championship organisers have also requested the following information.</p>

                    {{ range $index, $question := $championship.SignUpForm.ExtraFields }}
                        <div class="form-group row">
                            <label for="Question.{{ $index }}" class="col-sm-4 col-form-label">{{ $question }}</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Question.{{ $index }}" name="Question.{{ $index }}"
                                       placeholder="" value="{{ index $.FormData.Questions $question }}">
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        {{ end }}


        {{ if $championship.ACSR }}
            <div class="card mt-3">
                <div class="card-header">
                    <strong>Assetto Corsa Skill Rating Championship</strong>
                </div>
                <div class="card-body">
                    <p>
                        This is an <a target="_blanK" href="https://acsr.assettocorsaservers.com">ACSR</a> Championship.
                        That means that when you sign up for this Championship, the following details will be sent to ACSR:
                    </p>
                    <ul>
                        <li>Your Name, as provided in the form above (anonymised if possible, e.g. "Alan Turing" would become "Alan T.")</li>
                        <li>An anonymized version of your Steam GUID</li>
                        <li>All Race, Qualifying and Practice results and Championship Positions</li>
                    </ul>

                    <p>By signing up to this Championship, you agree that this data can be shared with ACSR.</p>

                    <p>You need to meet the following minimum ACSR ratings to join this Championship:</p>

                    <span data-toggle="tooltip" title="Skill" class="badge badge-primary acsr-badge--skill">{{ $championship.ACSRSkillGate }}</span>
                    {{ if $championship.EnableACSRSafetyGate }}
                        <span data-toggle="tooltip" title="Safety" class="badge badge-success acsr-badge--safety">{{ $championship.ACSRSafetyGate }} </span>
                    {{ end }}

                    <div class="mt-3 mb-3">Your Rating:</div>

                    <div id="acsr-rating-container">
                        <!-- Rating information is appended by JS! -->
                        <span class="text-danger">Unknown! Please enter your GUID in the Steam GUID input above!</span>
                    </div>
                </div>
            </div>
        {{ end }}

        <div class="mt-5">
            <button type="submit" {{ if $championship.ACSR }}disabled id="register-for-championship"{{ end }} class="btn btn-success float-right">Register</button>
        </div>
    </form>


    <script type="text/javascript">
        const availableCars = {{ jsonEncode .CarOpts.AsMap }};
        const ChampionshipID = {{ .Championship.ID.String }};
    </script>

    {{ if ne $.RecaptchaSiteKey "" }}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {{ end }}
{{ end }}
