{{ define "title" }}{{ .Championship.Name }}{{ end }}

{{ define "content" }}
    {{ $championship := .Championship }}
    {{ $entrants := .Championship.Entrants }}

    <h1 class="text-center">{{ $championship.Name }}</h1>


    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="drivers-tab" data-toggle="tab" href="#drivers" role="tab"
               aria-controls="drivers" aria-selected="true">Driver Standings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="teams-tab" data-toggle="tab" href="#teams" role="tab" aria-controls="teams"
               aria-selected="false">Team Standings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="points-tab" data-toggle="tab" href="#points" role="tab" aria-controls="points"
               aria-selected="false">Points Reference</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="drivers" role="tabpanel" aria-labelledby="drivers-tab">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Driver</th>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>

                    {{ range $i, $entrant := $championship.Standings }}

                        <tr>
                            <td>{{ $entrant.Entrant.Name }}</td>
                            <td>{{ $entrant.Entrant.Team }}</td>
                            <td>{{ $entrant.Points }}</td>
                        </tr>
                    {{ end }}
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="teams-tab">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>

                    {{ range $i, $team := $championship.TeamStandings }}

                        <tr>
                            <td>{{ $team.Team }}</td>
                            <td>{{ $team.Points }}</td>
                        </tr>
                    {{ end }}
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="points" role="tabpanel" aria-labelledby="points-tab">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Place</th>
                        <th>Points</th>
                    </tr>

                    {{ range $i, $pts := $championship.Points.Places }}

                        <tr>
                            <td>{{ add $i 1 }}{{ ordinal (add $i 1) }}</td>
                            <td>{{ $pts }}</td>
                        </tr>
                    {{ end }}

                    <tr>
                        <td><strong>Fastest Race Lap</strong></td>
                        <td>
                            {{ $championship.Points.BestLap }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Best Qualifying Lap</strong></td>
                        <td>
                            {{ $championship.Points.PolePosition }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr>

    <h2>Events</h2>

    <p>This Championship currently has {{ len $championship.Events }} events configured.</p>

    <div class="float-right">
        <a class="btn btn-success" href="/championship/{{ $championship.ID.String }}/event">Add more Events</a>
    </div>

    <div class="clearfix"></div>

    {{ range $eventIndex, $event := $championship.Events }}
        {{ $eventSetup := $event.RaceSetup }}

        <div class="card mt-3 border-secondary">
            <div class="card-header">
                <strong>{{ prettify $eventSetup.Track false }} {{ with $eventSetup.TrackLayout }}({{ prettify . true }}){{ end }}</strong>
                in {{ carList $eventSetup.Cars }}

                <div class="float-right">
                    {{ if $event.Completed }}
                        <span class="text-success">Complete</span>
                    {{ else }}
                        <span class="text-danger">Not started</span>
                    {{ end }}
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <ul class="list-unstyled">
                            {{ range $sessionName, $session := $eventSetup.Sessions }}
                                <li>
                                    <strong>{{ $sessionName.String }}</strong>:

                                    {{ if ne $session.Time 0 }}
                                        {{ $session.Time }} minutes
                                    {{ else }}
                                        {{ with $session.Laps }}
                                            {{ . }} laps
                                        {{ end }}
                                    {{ end }}
                                </li>
                            {{ end }}
                        </ul>

                        {{/* fastest lap + qualifying awards */}}
                        {{ range $sessionName, $session := $event.Results }}
                            {{ if eq $sessionName "RACE" }}
                                <span class="badge badge-best">Fastest Lap: {{ $session.FastestLap.DriverName }}</span><br>
                            {{ else if eq $sessionName "QUALIFY" }}
                                <span class="badge badge-success">Best Qualifying: {{ $session.FastestLap.DriverName }}</span><br>
                            {{ end }}
                        {{ end }}

                        {{/* race controls buttons */}}
                        {{ if not $event.Completed }}

                            <div class="mt-5 pt-5">
                                <a class="btn btn-success" href="#">Start Event</a>

                                <a class="btn btn-info"
                                   href="/championship/{{ $championship.ID.String }}/event/{{ $eventIndex }}/practice"
                                   data-toggle="tooltip"
                                   title="Loads the configured event onto the server as a 2 hour looping practice, but don't track its progress as a championship event.">
                                    Start Practice Event
                                </a>

                                <a class="btn btn-warning" href="/championship/{{ $championship.ID.String }}/event/{{ $eventIndex }}/edit">
                                    Edit Event
                                </a>

                                <a onClick="return confirm('I understand that this will delete this entire event permanently.') "
                                   class="btn btn-danger" href="/championship/{{ $championship.ID.String }}/event/{{ $eventIndex }}/delete">
                                    Delete Event
                                </a>
                            </div>
                        {{ end }}
                    </div>

                    <div class="col-md-6">
                        <img class="img img-fluid pl-2 float-right image-track"
                             src="/content/tracks/{{ $eventSetup.Track }}/ui{{ with $eventSetup.TrackLayout }}/{{.}}{{ end }}/preview.png"
                             alt="{{ $eventSetup.Track }} {{ $eventSetup.TrackLayout }}"
                        >
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-md-12">
                        {{ if not $event.Completed }}
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Name</th>
                                        <th>Team</th>
                                        <th>Car</th>
                                    </tr>

                                    {{ range $entrantIndex, $entrant := $championship.Entrants }}
                                        <tr>
                                            <td>{{ $entrant.Name }}</td>
                                            <td>{{ $entrant.Team }}</td>
                                            <td>{{ prettify $entrant.Model true }}</td>
                                        </tr>
                                    {{ end }}
                                </table>
                            </div>
                        {{ else }}
                            <ul class="nav nav-tabs" role="tablist">
                                {{ range $sessionName, $sessionResults := $event.Results }}
                                    <li class="nav-item">
                                        <a class="nav-link  {{ if eq $sessionName "RACE" }} active {{ end }}"
                                           id="{{ $sessionName }}-{{ $eventIndex}}-tab" data-toggle="tab"
                                           href="#{{ $sessionName }}-{{ $eventIndex}}"
                                           role="tab"
                                           {{ if eq $sessionName "RACE" }}aria-selected="true" {{ end }}>{{ $sessionName.String }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                            <div class="tab-content">
                                {{ range $sessionName, $sessionResults := $event.Results }}
                                    <div class="tab-pane fade {{ if eq $sessionName "RACE" }} show active {{ end }}"
                                         id="{{ $sessionName }}-{{ $eventIndex}}" role="tabpanel"
                                         aria-labelledby="{{ $sessionName }}-{{ $eventIndex}}-tab">
                                        {{ template "session-overall" $sessionResults }}
                                    </div>
                                {{ end }}
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}