{{ define "title" }}Custom Races{{ end }}

{{ define "custom-race-table" }}
    <div class="table-responsive">
        <table class="table table-striped table-bordered mt-4 table-custom-race">
            <tr>
                <td></td>
                <th>Name</th>
                <th>Details</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>

            {{ range $index, $race := . }}
                <tr>
                    <td>
                        <a href="/custom/star/{{ $race.UUID.String }}">
                            {{ if $race.Starred }}
                                <i class="fas fa-star"></i>
                            {{ else }}
                                <i class="far fa-star"></i>
                            {{ end }}
                        </a>
                    </td>
                    <td>{{ $race.Name }}</td>
                    <td>
                        <strong>
                            {{ prettify $race.RaceConfig.Track false }} {{ with $race.RaceConfig.TrackLayout }}({{ prettify . true }}){{ end }}
                        </strong>

                        <div class="float-right text-right">
                            {{ range $sessionName, $session := $race.RaceConfig.Sessions }}
                                <span data-toggle="tooltip" title="{{ $sessionName.String }}" class="badge badge-primary">{{ trunc 1 $sessionName.String }}</span>
                            {{ end }}

                            <br>

                            <small class="mr-1">{{ len $race.EntryList }} <i class="fa fa-user"></i></small>
                        </div>

                        <br>
                        <small>{{ carList $race.RaceConfig.Cars }}</small>

                    </td>
                    <td>{{ timeFormat $race.Created }}<br> {{ dateFormat $race.Created }}</td>
                    <td>
                        <a class="btn btn-sm btn-success" href="/custom/load/{{ $race.UUID.String }}">Start Race</a>
                        <a class="btn btn-sm btn-info" href="/custom/new?from={{ $race.UUID.String }}">Use as Template</a>
                        <a onClick="return confirm('I understand that this will delete this race setup permanently');"
                           class="btn btn-sm btn-danger" href="/custom/delete/{{ $race.UUID.String }}">Delete</a>
                    </td>
                </tr>
            {{ end }}
        </table>
    </div>
{{ end }}

{{ define "content" }}
    <h1 class="text-center">Custom Races</h1>

    <a class="btn btn-success float-right" href="/custom/new">Create a new Custom Race</a>

    <div class="clearfix mb-5"></div>

    <h2>Starred</h2>

    {{ if gt (len .Starred) 0 }}
        {{ template "custom-race-table" .Starred }}
    {{ else }}
        <p class="text-center">You haven't starred any Custom Races yet. Star some using the table below!</p>
    {{ end }}

    <h2>Recent</h2>

    {{ if gt (len .Recent) 0 }}
        {{ template "custom-race-table" .Recent }}
    {{ else }}
        <p class="text-center">We couldn't find any recent races. Perhaps you should <a href="/custom/new">create one now</a>?</p>
    {{ end }}
{{ end }}
