{{/* gotype: github.com/JustaPenguin/assetto-server-manager.customRaceListTemplateVars */}}

{{ define "title" }}Custom Races{{ end }}

{{ define "custom-race" }}
    <div class="card mt-4 mb-4">
        <div class="card-header">
            <div class="float-left">
                <strong>{{ $.Race.Name }}</strong>
            </div>

            <div class="float-right">
                {{ if isBefore $.Race.Scheduled }}
                    <span class="text-success mr-1">
                        Scheduled

                        {{ if ne $.Race.ScheduledServerID $.ServerID }}
                            (on <span class="scheduled-server-id" data-server-id="{{ $.Race.ScheduledServerID }}">another server</span>)
                        {{ end }}

                        for {{ localFormat $.Race.Scheduled }}

                        {{if .HasRecurrenceRule }}
                            <span class="font-italic">Recurring: </span>
                            <span class="rrule-text font-italic" data-rrule="{{ .Recurrence }}"></span>
                        {{ end }}
                    </span>
                {{ end }}

                {{ if WriteAccess }}
                    <a class="text-decoration-none" href="/custom/star/{{ $.Race.UUID.String }}">
                {{ end }}

                    {{ if $.Race.Starred }}
                        <i class="fas fa-star ml-1 mr-1 text-success" data-toggle="tooltip" title="Starred"></i>
                    {{ else }}
                        <i class="far fa-star ml-1 mr-1 text-body" data-toggle="tooltip" title="Not Starred"></i>
                    {{ end }}

                {{ if WriteAccess }}
                    </a>

                    <a class="text-decoration-none" href="/custom/loop/{{ $.Race.UUID.String }}">
                {{ end }}

                    {{ with $.Race.LoopServer }}
                        {{ if index $.Race.LoopServer $.ServerID }}
                            <i class="fas fa-play-circle ml-1 mr-1 text-body"></i>
                        {{ else }}
                            <i class="far fa-play-circle ml-1 mr-1 text-success" data-toggle="tooltip" title="Looping"></i>
                        {{ end }}
                    {{ else }}
                        <i class="far fa-play-circle ml-1 mr-1 text-body" data-toggle="tooltip" title="Not Looping"></i>
                    {{ end }}

                {{ if WriteAccess }}
                    </a>
                {{ end }}
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    {{ template "race-card" $.Race }}

                    <div class="mt-4" style="position: absolute; bottom: 0; ">
                        <div class="btn-group btn-group-sm">
                            {{ if WriteAccess }}
                                <a class="btn btn-sm btn-success" href="/custom/load/{{ $.Race.UUID.String }}">Start</a>

                                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split popover-external-html" data-placement="bottom"
                                        data-toggle="popover" title="Schedule Event" data-html="true"
                                        id="schedule-{{ $.Race.UUID.String }}"
                                ></button>

                                <div id="popover-content-schedule-{{ $.Race.UUID.String }}" style="display: none;">
                                    <form action="/custom/schedule/{{ $.Race.UUID.String }}" method="POST">
                                        <div class="form-group">
                                            <input type="date" class="form-control" name="event-schedule-date" id="event-schedule-date" required>
                                            <input type="time" class="form-control" name="event-schedule-time" id="event-schedule-time" required>
                                            <small class="form-text text-muted">
                                                Please enter the correct date and time to add a scheduled event.
                                                This date/time is in your timezone (<span class='timezone'></span>).
                                            </small>

                                            <label for="event-schedule-recurrence" class="col-form-label">Recurrence Rule</label>
                                            <input type="text" class="form-control" name="event-schedule-recurrence" id="event-schedule-recurrence">

                                            <small class="form-text text-muted">
                                                Visit
                                                <a target="_blank" href="https://www.textmagic.com/free-tools/rrule-generator">RRule Generator</a>
                                                to generate a recurrence rule. Leave blank if not required. Only valid alongside scheduled time.
                                            </small>

                                            <input type="hidden" name="event-schedule-timezone" class="event-schedule-timezone">
                                        </div>

                                        <button type="submit" name="action" value="add" class="btn btn-sm btn-primary">Schedule</button>
                                        <a href="/custom/schedule/{{ $.Race.UUID.String }}/remove" class="btn btn-sm btn-danger">
                                            Remove Scheduled Event
                                        </a>
                                    </form>
                                </div>
                            </div>

                            <a class="btn btn-sm btn-warning" href="/custom/edit/{{ $.Race.UUID.String }}">Edit</a>
                            <a class="btn btn-sm btn-primary" href="/custom/new?from={{ $.Race.UUID.String }}">Use as Template</a>

                            {{ if DeleteAccess }}
                                <a onClick="return confirm('I understand that this will delete this race setup permanently');"
                                   class="btn btn-sm btn-danger"
                                   href="/custom/delete/{{ $.Race.UUID.String }}"
                                >
                                    Delete
                                </a>
                            {{ end }}
                        {{ end }}


                        {{ if $.ShowEventDetailsPopup }}
                            <a class="btn btn-sm btn-info custom-race-details"
                               href="#"
                               data-race-id="{{ $.Race.UUID.String }}"
                            >
                                Race Details
                            </a>
                        {{ end }}
                    </div>
                </div>

                <div class="col-3">
                    <img class="img img-fluid ml-2 float-right image-track mb-2"
                         src="/content/tracks/{{ $.Race.RaceConfig.Track }}/ui{{ with $.Race.RaceConfig.TrackLayout }}/{{.}}{{ end }}/preview.png"
                         alt="{{ $.Race.RaceConfig.Track }} {{ $.Race.RaceConfig.TrackLayout }}"
                    >
                </div>
            </div>


        </div>
    </div>
{{ end }}

{{ define "custom-race-table" }}
    {{ range $index, $race := $.Race }}
        {{ template "custom-race" dict "Race" $race "ServerID" $.ServerID "ShowEventDetailsPopup" $.ShowEventDetailsPopup }}
    {{ end }}
{{ end }}

{{ define "content" }}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><h1 class="text-center">Custom Races</h1></div>
        <div class="col-sm-4">
            {{ if WriteAccess }}
                <a class="btn btn-success float-right" href="/custom/new">Create a new Custom Race</a>
                <div class="clearfix mb-5"></div>
            {{ end }}
        </div>
    </div>

    {{ if WriteAccess }}
        <p>
            Custom races are fully configurable events, once you have created a custom race you can Star it or add it to
            the automatic race loop. You can use a custom race as a template for a new race, which will create a copy of the
            custom race, or edit the custom race directly. Custom races can be run quickly on the server using the start race
            button.
        </p>
    {{ end }}

    <h2>Scheduled</h2>

    {{ if gt (len .Scheduled) 0 }}
        {{ template "custom-race-table" dict "Race" .Scheduled "ServerID" .ServerID "ShowEventDetailsPopup" $.ShowEventDetailsPopup }}
    {{ else if WriteAccess }}
        <p class="text-center">You haven't scheduled any races!</p>
    {{ else }}
        <p class="text-center">There are no scheduled races.</p>
    {{ end }}

    <h2>Starred</h2>

    {{ if gt (len .Starred) 0 }}
        {{ template "custom-race-table" dict "Race" .Starred "ServerID" .ServerID "ShowEventDetailsPopup" $.ShowEventDetailsPopup }}
    {{ else if WriteAccess }}
        <p class="text-center">You haven't starred any Custom Races yet. Star some using the table below!</p>
    {{ else }}
        <p class="text-center">There aren't any starred custom races yet!</p>
    {{ end }}

    <h2>Auto Loop</h2>

    {{ if gt (len .Loop) 0 }}
        {{ template "custom-race-table" dict "Race" .Loop "ServerID" .ServerID "ShowEventDetailsPopup" $.ShowEventDetailsPopup }}
        <p class="text-center">
            These custom races will be looped on the server whilst it is inactive! Auto loop races will only
            work if allowed to start automatically, please don't manually start these events if you want them to loop!
        </p>
    {{ else if WriteAccess }}
        <p class="text-center">
            No custom races have been added to the auto loop list yet! Use the play icon to add a race to the loop.
            Any added races will loop on the server whilst it is inactive!
        </p>
    {{ else }}
        <p class="text-center">There aren't any looping custom races yet!</p>
    {{ end }}

    <h2>Recent</h2>

    {{ if gt (len .Recent) 0 }}
        {{ template "custom-race-table" dict "Race" .Recent "ServerID" .ServerID "ShowEventDetailsPopup" $.ShowEventDetailsPopup }}
    {{ else if WriteAccess }}
        <p class="text-center">We couldn't find any recent races. Perhaps you should <a href="/custom/new">create one now</a>?</p>
    {{ else }}
        <p class="text-center">We couldn't find any recent races.</p>
    {{ end }}

    <div class="modal" tabindex="-1" role="dialog" id="race-details-modal">
        <!-- content controlled by js -->
    </div>
{{ end }}
