{{ define "title" }}Custom Races{{ end }}


{{ define "custom-race-table" }}
    {{ $writeAccess := WriteAccess }}
    <div class="table-responsive">
        <table class="table table-striped table-bordered mt-4 table-custom-race">
            <tr>
                <td></td>
                <th>Details</th>
                <th>Created</th>
                {{ if $writeAccess }}
                    <th>Actions</th>
                {{ end }}
            </tr>

            {{ range $index, $race := . }}
                <tr>
                    <td class="align-middle">
                        <a href="/custom/star/{{ $race.UUID.String }}">
                            {{ if $race.Starred }}
                                <i class="fas fa-star"></i>
                            {{ else }}
                                <i class="far fa-star"></i>
                            {{ end }}
                        </a>
                        <a href="/custom/loop/{{ $race.UUID.String }}">
                            {{ if $race.Loop }}
                                <i class="fas fa-play-circle"></i>
                            {{ else }}
                                <i class="far fa-play-circle"></i>
                            {{ end }}
                        </a>
                    </td>
                    <td class="align-middle">

                        {{ template "race-card" $race }}

                        <hr>
                        <strong>Name:</strong> {{ $race.Name }}


                    </td>
                    <td class="align-middle">{{ timeFormat $race.Created }}<br> {{ dateFormat $race.Created }}</td>
                    {{ if $writeAccess }}
                        <td class="align-middle custom-race-actions">
                            <div class="btn-group custom-race-actions-btn-group">

                                <a class="btn btn-sm btn-success custom-race-actions-btn-big" href="/custom/load/{{ $race.UUID.String }}">Start Race</a>

                                <button type="button" class="btn btn-success btn-sm custom-race-actions-btn-small dropdown-toggle dropdown-toggle-split popover-external-html" data-placement="bottom"
                                        data-toggle="popover" title="Schedule Race" data-html="true"
                                        id="schedule-{{ $race.UUID.String }}"
                                ></button>

                                <div id="popover-content-schedule-{{ $race.UUID.String }}" style="display: none;">
                                    <form action='/custom/schedule/{{ $race.UUID.String }}' method='POST'>
                                        <div class='form-group'>
                                            <input type='date' class='form-control' name='event-schedule-date' id='event-schedule-date' required value='{{ now.Format "2006-01-02" }}' min=''>
                                            <input type='time' class='form-control' name='event-schedule-time' id='event-schedule-time' required value='{{ now.Format "15:04" }}' min=''>
                                            <input type='hidden' name="event-schedule-timezone" class="event-schedule-timezone">
                                            <small class='form-text text-muted'>Please enter the correct date and time to add a scheduled race. This date/time is in your timezone (<span class='timezone'></span>).</small>

                                        </div>

                                        <button type='submit' name='action' value='add' class='btn btn-sm btn-primary'>Schedule</button>
                                        <a href='/custom/schedule/{{ $race.UUID.String }}/remove' class='btn btn-sm btn-danger'>Remove Scheduled Race</a>

                                    </form>
                                </div>
                            </div>

                            <a class="btn btn-sm btn-primary" href="/custom/new?from={{ $race.UUID.String }}">Use as Template</a>
                            <a class="btn btn-sm btn-warning" href="/custom/edit/{{ $race.UUID.String }}">Edit Race</a>
                            <a onClick="return confirm('I understand that this will delete this race setup permanently');"
                               class="btn btn-sm btn-danger {{ if not DeleteAccess}}disabled{{ end }}" href="/custom/delete/{{ $race.UUID.String }}">Delete</a>
                        </td>
                    {{ end }}
                </tr>
            {{ end }}
        </table>
    </div>
{{ end }}

{{ define "content" }}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><h1 class="text-center">Custom Races</h1></div>
        <div class="col-sm-4">
            <a class="btn btn-success float-right" href="/custom/new">Create a new Custom Race</a>
            <div class="clearfix mb-5"></div>
        </div>
    </div>

    <p>Custom races are fully configurable events, once you have created a custom race you can Star it or add it to
    the automatic race loop. You can use a custom race as a template for a new race, which will create a copy of the
    custom race, or edit the custom race directly. Custom races can be run quickly on the server using the start race
    button.</p>

    <h2>Scheduled</h2>

    {{ if gt (len .Scheduled) 0 }}
        {{ template "custom-race-table" .Scheduled }}
    {{ else }}
        <p class="text-center">You haven't Scheduled any races!</p>
    {{ end }}

    <h2>Starred</h2>

    {{ if gt (len .Starred) 0 }}
        {{ template "custom-race-table" .Starred }}
    {{ else }}
        <p class="text-center">You haven't starred any Custom Races yet. Star some using the table below!</p>
    {{ end }}

    <h2>Auto Loop</h2>

    {{ if gt (len .Loop) 0 }}
        {{ template "custom-race-table" .Loop }}
        <p class="text-center">These custom races will be looped on the server whilst it is inactive!</p>
    {{ else }}
        <p class="text-center">No custom races have been added to the auto loop list yet! Use the play icon to add a race to the loop.
            Any added races will loop on the server whilst it is inactive!</p>
    {{ end }}

    <h2>Recent</h2>

    {{ if gt (len .Recent) 0 }}
        {{ template "custom-race-table" .Recent }}
    {{ else }}
        <p class="text-center">We couldn't find any recent races. Perhaps you should <a href="/custom/new">create one now</a>?</p>
    {{ end }}
{{ end }}
